{% extends "cauldronapp/base.html" %}
{% load cauldron_tags %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- WORKERS AND GENERAL SECTION BEGIN -->
        <div class="col-md-3 mt-4">
            <div class="header-dashboard">
                <h3>General status</h3>
            </div>

            {% include "cauldronapp/status_card.html" %}

            <div class="header-dashboard">
                <h3>Workers</h3>
            </div>
            <!-- WORKER CARD BEGIN -->
            <div class="card shadow-sm">
                <div class="card-header">
                    <div class="title">
                        <strong>Worker 1</strong>
                    </div>
                </div>
                <div class="card-body">
                    Here will appear info about the worker
                </div>
            </div>
            <!-- WORKER CARD END -->
        </div>
        <!-- WORKERS AND GENERAL SECTION END -->

        <!-- ADMIN SECTION BEGIN -->
        <div class="col-md-9 mt-4">
            <div class="header-dashboard">
                <h3>Admin settings</h3>
            </div>
            <nav>
                <div class="nav nav-pills nav-justified" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-dash-tab" href="{% url 'admin_page' %}" role="tab" aria-controls="nav-dash" aria-selected="true"><strong>Dashboards</strong></a>

                    <a class="nav-item nav-link" id="nav-users-tab" href="{% url 'admin_page_users' %}" role="tab" aria-controls="nav-users" aria-selected="false"><strong>Users</strong></a>
                </div>
            </nav>
            <div class="tab-content mt-4" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-dash" role="tabpanel" aria-labelledby="nav-dash-tab">
                    <form method="GET" action ="" class="form-inline float-right">
                      <div class="form-group ml-2 mb-2">

                        <div class="input-group">
                          <input class="form-control" name="search" type="text" value="{{ request.GET.search }}" placeholder="Search..."/>
                          <div class="input-group-append">
                            <button class="btn btn-outline-dark" type="submit">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>

                    <div class="table-responsive">
                      <table id="dashboards-table" class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Name
                              {% get_sorting_link request 'name' as name_sorting_link %}
                              <a href="?{% url_replace request 'sort_by' name_sorting_link %}">
                                <i class="{% get_sorting_icon request 'name' %}"></i>
                              </a>
                            </th>
                            <th scope="col">Owner
                              {% get_sorting_link request 'owner' as owner_sorting_link %}
                              <a href="?{% url_replace request 'sort_by' owner_sorting_link %}">
                                <i class="{% get_sorting_icon request 'owner' %}"></i>
                              </a>
                            </th>
                            <th scope="col">Created date (UTC)
                              {% get_sorting_link request 'created' as created_sorting_link %}
                              <a href="?{% url_replace request 'sort_by' created_sorting_link %}">
                                <i class="{% get_sorting_icon request 'created' %}"></i>
                              </a>
                            </th>
                            <th scope="col">Modified date (UTC)
                              {% get_sorting_link request 'modified' as modified_sorting_link %}
                              <a href="?{% url_replace request 'sort_by' modified_sorting_link %}">
                                <i class="{% get_sorting_icon request 'modified' %}"></i>
                              </a>
                            </th>
                            <th scope="col">Total tasks
                              {% get_sorting_link request 'total_tasks' as total_tasks_sorting_link %}
                              <a href="?{% url_replace request 'sort_by' total_tasks_sorting_link %}">
                                <i class="{% get_sorting_icon request 'total_tasks' %}"></i>
                              </a>
                            </th>
                            <th scope="col">Completed tasks
                              {% get_sorting_link request 'completed_tasks' as completed_tasks_sorting_link %}
                              <a href="?{% url_replace request 'sort_by' completed_tasks_sorting_link %}">
                                <i class="{% get_sorting_icon request 'completed_tasks' %}"></i>
                              </a>
                            </th>
                            <th scope="col">Running tasks
                              {% get_sorting_link request 'running_tasks' as running_tasks_sorting_link %}
                              <a href="?{% url_replace request 'sort_by' running_tasks_sorting_link %}">
                                <i class="{% get_sorting_icon request 'running_tasks' %}"></i>
                              </a>
                            </th>
                            <th scope="col">Pending tasks
                              {% get_sorting_link request 'pending_tasks' as pending_tasks_sorting_link %}
                              <a href="?{% url_replace request 'sort_by' pending_tasks_sorting_link %}">
                                <i class="{% get_sorting_icon request 'pending_tasks' %}"></i>
                              </a>
                            </th>
                            <th scope="col">Error tasks
                              {% get_sorting_link request 'error_tasks' as error_tasks_sorting_link %}
                              <a href="?{% url_replace request 'sort_by' error_tasks_sorting_link %}">
                                <i class="{% get_sorting_icon request 'error_tasks' %}"></i>
                              </a>
                            </th>
                            <th scope="col">Total repositories
                              {% get_sorting_link request 'total_repositories' as total_repositories_sorting_link %}
                              <a href="?{% url_replace request 'sort_by' total_repositories_sorting_link %}">
                                <i class="{% get_sorting_icon request 'total_repositories' %}"></i>
                              </a>
                            </th>
                            <th class="text-center" scope="col"><i class="fab fa-git-square fa-lg"></i>
                              {% get_sorting_link request 'git' as git_sorting_link %}
                              <a href="?{% url_replace request 'sort_by' git_sorting_link %}">
                                <i class="{% get_sorting_icon request 'git' %}"></i>
                              </a>
                            </th>
                            <th class="text-center" scope="col"><i class="fab fa-github fa-lg"></i>
                              {% get_sorting_link request 'github' as github_sorting_link %}
                              <a href="?{% url_replace request 'sort_by' github_sorting_link %}">
                                <i class="{% get_sorting_icon request 'github' %}"></i>
                              </a>
                            </th>
                            <th class="text-center" scope="col"><i class="fab fa-gitlab fa-lg"></i>
                              {% get_sorting_link request 'gitlab' as gitlab_sorting_link %}
                              <a href="?{% url_replace request 'sort_by' gitlab_sorting_link %}">
                                <i class="{% get_sorting_icon request 'gitlab' %}"></i>
                              </a>
                            </th>
                            <th class="text-center" scope="col"><i class="fab fa-meetup fa-lg"></i>
                              {% get_sorting_link request 'meetup' as meetup_sorting_link %}
                              <a href="?{% url_replace request 'sort_by' meetup_sorting_link %}">
                                <i class="{% get_sorting_icon request 'meetup' %}"></i>
                              </a>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for dashboard in dashboards %}
                            <tr>
                              <td><a href="{% url 'show_dashboard' dash_id=dashboard.id %}" target="_blank">
                                {{dashboard.name}}
                              </a></td>
                              <td>{{dashboard.creator.first_name}}</td>
                              <td>
                                <span style="display:none;">{{dashboard.created|date:"U"}}</span>
                                {{dashboard.created|date:"Y/m/d P"}}
                              </td>
                              <td>
                                <span style="display:none;">{{dashboard.modified|date:"U"}}</span>
                                {{dashboard.modified|date:"Y/m/d P"}}
                              </td>
                              <td class="text-center">{{dashboard.tasks_count}}</td>
                              <td class="text-center">{{dashboard.completed_tasks_count}}</td>
                              <td class="text-center">{{dashboard.running_tasks_count}}</td>
                              <td class="text-center">{{dashboard.pending_tasks_count}}</td>
                              <td class="text-center">{{dashboard.error_tasks_count}}</td>
                              <td class="text-center">{{dashboard.repos_count}}</td>
                              <td class="text-center">{{dashboard.repos_git_count}}</td>
                              <td class="text-center">{{dashboard.repos_github_count}}</td>
                              <td class="text-center">{{dashboard.repos_gitlab_count}}</td>
                              <td class="text-center">{{dashboard.repos_meetup_count}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                    </div>

                    {% if page_obj.paginator.count == 0 %}
                    <div>
                        <em>There are no entries for the selected filters</em>
                    </div>
                    {% endif %}

                    {% include "cauldronapp/nav_pagination.html" %}
                </div>
            </div>
        </div>
        <!-- ADMIN SECTION END -->

    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js" integrity="sha256-C66CaAImteEKZPYvgng9j10J/45e9sAuZyfPYCwp4gE=" crossorigin="anonymous"></script>
{% endblock %}
