{% extends "cauldronapp/base.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- WORKERS AND GENERAL SECTION BEGIN -->
        <div class="col-md-3 mt-4">
            <div class="header-dashboard">
                <h3>General status</h3>
            </div>

            {% include "cauldronapp/status_card.html" %}

            <div class="header-dashboard">
                <h3>Workers</h3>
            </div>
            <!-- WORKER CARD BEGIN -->
            <div class="card shadow-sm">
                <div class="card-header">
                    <div class="title">
                        <strong>Worker 1</strong>
                    </div>
                </div>
                <div class="card-body">
                    Here will appear info about the worker
                </div>
            </div>
            <!-- WORKER CARD END -->
        </div>
        <!-- WORKERS AND GENERAL SECTION END -->

        <!-- ADMIN SECTION BEGIN -->
        <div class="col-md-9 mt-4">
            <div class="header-dashboard">
                <h3>Admin settings</h3>
            </div>
            <nav>
                <div class="nav nav-pills nav-justified" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-dash-tab" href="{% url 'admin_page' %}" role="tab" aria-controls="nav-dash" aria-selected="true"><strong>Dashboards</strong></a>

                    <a class="nav-item nav-link" id="nav-users-tab" href="{% url 'admin_page_users' %}" role="tab" aria-controls="nav-users" aria-selected="false"><strong>Users</strong></a>
                </div>
            </nav>
            <div class="tab-content mt-4" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-dash" role="tabpanel" aria-labelledby="nav-dash-tab">
                    {% if dashboards %}
                    <table id="dashboards-table" class="row-border" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Owner</th>
                                <th>Created (UTC)</th>
                                <th>Modified (UTC)</th>
                                <th>Total tasks</th>
                                <th>Completed tasks</th>
                                <th>Running tasks</th>
                                <th>Pending tasks</th>
                                <th>Error tasks</th>
                                <th>Total repositories</th>
                                <th><i class="fab fa-git-square fa-lg"></i></th>
                                <th><i class="fab fa-github fa-lg"></i></th>
                                <th><i class="fab fa-gitlab fa-lg"></i></th>
                                <th><i class="fab fa-meetup fa-lg"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dashboard in dashboards %}
                            <tr>
                                <td><a href="{% url 'show_dashboard' dash_id=dashboard.dashboard.id %}" target="_blank">
                                    {{dashboard.dashboard.name}}
                                </a></td>
                                <td>{{dashboard.dashboard.creator.first_name}}</td>
                                <td>
                                    <span style="display:none;">{{dashboard.dashboard.created|date:"U"}}</span>
                                    {{dashboard.dashboard.created|date:"Y/m/d P"}}
                                </td>
                                <td>
                                    <span style="display:none;">{{dashboard.dashboard.modified|date:"U"}}</span>
                                    {{dashboard.dashboard.modified|date:"Y/m/d P"}}
                                </td>
                                <td>{{dashboard.tasks_count}}</td>
                                <td>{{dashboard.completed_tasks_count}}</td>
                                <td>{{dashboard.running_tasks_count}}</td>
                                <td>{{dashboard.pending_tasks_count}}</td>
                                <td>{{dashboard.error_tasks_count}}</td>
                                <td>{{dashboard.repos_count}}</td>
                                <td>{{dashboard.repos_git_count}}</td>
                                <td>{{dashboard.repos_github_count}}</td>
                                <td>{{dashboard.repos_gitlab_count}}</td>
                                <td>{{dashboard.repos_meetup_count}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <em>No Dashboards to show</em>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- ADMIN SECTION END -->

    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js" integrity="sha256-C66CaAImteEKZPYvgng9j10J/45e9sAuZyfPYCwp4gE=" crossorigin="anonymous"></script>
<!-- DataTables JavaScript -->
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#dashboards-table').DataTable({
      columnDefs: [
        {
          targets: [-1, -2, -3, -4, -5, -6, -7, -8, -9, -10],
          className: 'dt-body-center'
        }
      ]
    });
} );
</script>
{% endblock %}
