{% load static %}
{% load admin_urls %}

{% url 'homepage' as homepage %}
{% url 'compare_projects' as compare_projects %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Software development analytics online tool by Bitergia">

  <!--Required Social Media Tags -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Level up Software Development Analytics - Cauldron">
  <meta name="twitter:description" content="Cauldron allows project managers, analysts, and developers to understand more about the community and processes involved in software development"/>
  <meta name="twitter:image" content="{% static 'img/cauldron_logo.jpg' %}"/>
  <meta property="og:title" content="Level up Software Development Analytics - Cauldron" />
  <meta property="og:description" content="Cauldron allows project managers, analysts, and developers to understand more about the community and processes involved in software development" />
  <meta property="og:image" content= "{% static 'img/cauldron_logo.jpg' %}"/>


  <!-- Cookie consent -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#edeff5",
        "text": "#838391"
      },
      "button": {
        "background": "#4b81e8"
      }
    },
    "showLink": false,
    "position": "bottom-right",
    "content": {
      "message": "This website uses cookies to remember your preferences, and to learn about how people are using the system."
    }
  })});
  </script>

  {% if google_analytics_id %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{google_analytics_id}}');
  </script>
  {% endif %}

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- SB Admin 2 styles -->
  <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">

  <!-- Bootstrap Select CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css">

  <!-- Awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/common.css' %}">

  <!-- Favicon.ico -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>

  {% block css%}
  {% endblock %}

  <title>Cauldron - Level Up Software Development Analytics</title>
</head>

<body>
  <!-- BEGIN NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand mr-auto" href="{% url 'homepage' %}">
        <img src="{% static '/img/cauldron-logo-white.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Cauldron <sup class="badge badge-secondary">wakame</sup>
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto ml-3">
          {% if request.resolver_match.url_name != 'show_project' or repositories_count > 0%}
          <li class="nav-item">
            <form action="{% url 'new_project' %}" method="post" class="create-project form-inline">
              {% csrf_token %}
              <button class="btn btn-icon-split btn-orange" role="button" type="submit">
                <span class="icon"><i class="fas fa-plus"></i></span>
                <span class="text">New project</span>
              </button>
            </form>
          </li>
          {% endif %}
          {% if authenticated and request.path != homepage %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage' %}">My Projects</a>
          </li>
          {% endif %}
          {% if authenticated and request.path != compare_projects %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'compare_projects' %}">Compare</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbar-text" href="#" id="dropdownCommunityMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Community
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownCommunityMenu">
              <a class="dropdown-item" href="https://community.cauldron.io/" target="_blank">Get Support</a>
              <a class="dropdown-item" href="https://gitlab.com/cauldronio/cauldron/issues/new" target="_blank">Report an Issue</a>
				      <a class="dropdown-item" href="https://mailchi.mp/003f1e1f6242/cauldron-newsletter" target="_blank">Join the Newsletter</a>
              <a class="dropdown-item" href="{% url 'stats' %}" target="_blank">Cauldron Stats</a>
            </div>
          </li>
        </ul>
      </div>

      <div class="navbar-line d-none"></div>

      {% if authenticated %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-text py-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span> {{ request.user.first_name }} </span>
          <img src="{{ photo_user }}" class="rounded-circle avatar">
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

          {% if request.user.is_superuser %}
          <a class="dropdown-item" href="{% url 'admin:index' %}">Admin page</a>
          {% if matomo_enabled %}
          <a class="dropdown-item" href="{{ matomo_url }}">Matomo</a>
          {% endif %}
          {% endif %}
          {% if request.user.is_superuser and hatstall_url %}
          <a class="dropdown-item" href="{{ hatstall_url }}">Hatstall</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'homepage' %}">My projects</a>
          <a class="dropdown-item" href="{% url 'profile:index' %}">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Log out</a>
          <!--<a class="dropdown-item" href="/profile">Profile</a>-->
        </div>
      </div>
      {% else %}
      <a class="btn btn-light d-block d-lg-inline-block mb-0 ml-md-3" href="#" data-toggle="modal" data-target="#modalLogin">
        Login
      </a>
      {% endif %}

    </div>
  </nav>
  <!-- END NAVBAR-->


  <!-- BEGIN Modal for login -->
  <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="col-12 text-center">Sign in</h3>
        </div>
        <div class="modal-body">

          <div class="text-center">
            <form action="{{ gh_uri_identity }}" method="GET">
              <input type="hidden" name="client_id" value="{{ gh_client_id }}">
              <button type="submit" class="btn btn-github btn-block" aria-haspopup="true" aria-expanded="false">
                <i class="fab fa-github"></i>
                Sign in with <b>GitHub</b>
              </button>
            </form>
          </div>

          <div class="text-center">
            <form action="{{ gl_uri_identity }}" method="GET">
              <input type="hidden" name="client_id" value="{{ gl_client_id }}">
              <input type="hidden" name="response_type" value="code">
              <input type="hidden" name="redirect_uri" value="{{ gl_uri_redirect }}">
              <button type="submit" class="btn btn-gitlab btn-block" aria-haspopup="true" aria-expanded="false">
                <i class="fab fa-gitlab"></i>
                Sign in with <b>GitLab</b>
              </button>
            </form>
          </div>

          <div class="text-center">
            <form action="{{ meetup_uri_identity }}" method="GET">
              <input type="hidden" name="client_id" value="{{ meetup_client_id }}">
              <input type="hidden" name="response_type" value="code">
              <input type="hidden" name="redirect_uri" value="{{ meetup_uri_redirect }}">
              <button type="submit" class="btn btn-meetup btn-block" aria-haspopup="true" aria-expanded="false">
                <i class="fab fa-meetup"></i>
                Sign in with <b>Meetup</b>
              </button>
            </form>
          </div>

        </div>
        <div class="modal-footer">
          <p class="text-muted">We will store your token for your analysis. You can revoke the use at any time</p>
        </div>
      </div>
    </div>
  </div>
  <!-- END Modal for login -->


  <!-- BEGIN Container for alerts -->
  <div class="container">
    <div id="alert-container" style="display: none;">
    </div>
  </div>
  <!-- END Container for alerts-->

  <!-- BEGIN Toast list for notifications-->
  <div aria-live="polite" aria-atomic="true" style="position: fixed; width: 100%; bottom: 50px; z-index: 9999;">
    <!-- Position it -->
    <div id="toast-container">

    </div>
  </div>
  <!-- END Toast list for notifications-->

  <div class="site-content">
  {% block content %}
  {% endblock %}
  </div>

  <!-- BEGIN Container for modals -->
  <div class="modal" tabindex="-1" role="dialog" id="modal-alert">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  <!-- END Container for modals-->


  <footer class="container-fluid footer-position bg-dark text-white pt-3">


      <div class="row">
        <div class="col-md-3 offset-md-1">
          <div><a href="https://bitergia.com" target="_blank"><img src="/static/img/bitergia-w-logo-s.png" alt="Bitergia" width="120"></a></div>
            <p style="display:inline-block">Copyright &copy; 2020 <a href="https://bitergia.com">Bitergium SLL.</a> and its
              contributors.</p>
            <p>Some Rights Reserved.</p>
            <p>
              <a href="{% url 'terms' %}" target="_blank">Terms</a> |
              <a href="{% url 'privacy' %}" target="_blank">Privacy</a> |
              <a href="{% url 'cookies' %}" target="_blank">Cookies Policy</a>
          </p>
        </div>
        <div class="col-md-4">
          <p><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
            <img src="/static/img/by-sa.png" width="120" alt="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)">
          </a></p>
          <p>Cauldron and the Cauldron logo are
            trademarks of <a href="https://bitergia.com" target="_blank">Bitergium SLL.</a> in the European Union and/or
            other jurisdictions. All other trademarks are the property of their respective holders.</p>
        </div>
        <div class="col-md-4">
          <p>Made with <abbr title="love"><span style="color: red; font-size: 1.2rem;">&hearts;</span></abbr> and <strong><a href="https://cauldronio.gitlab.io" target="_blank">free, open source software</a></strong> based on:</p>
          <p>
            <a href="https://chaoss.github.io/grimoirelab/" target="_blank"><img src="/static/img/wizard-y.svg"
                height="24" alt=""> GrimoireLab</a> |
            <a href="https://www.djangoproject.com/" target="_blank">Django</a> |
            <a href="https://opendistro.github.io/for-elasticsearch/" target="_blank">Open Distro for Elasticsearch</a>
          </p>
          <p>
            <a href="https://status.cauldron.io/">Status</a> |
            Follow us on <a href="https://twitter.com/cauldronio" target="_blank"><i class="fab fa-twitter" style="background: none;"></i> @cauldronio</a> |
            <a href="https://mailchi.mp/003f1e1f6242/cauldron-newsletter" target="_blank"><i class="fa fa-envelop"></i> Newsletter</a>
          </p>

        </div>
      </div>

  </footer>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- Bootstrap Select JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"></script>

  <script src="{% static 'js/common.js' %}" charset="utf-8"></script>

  {% block javascript %}
  {% endblock %}
  {% if alert_notification %}
  <script>
    showModalAlert("{{ alert_notification.title }}", "{{alert_notification.message}}", '<button type="button" class="btn btn-info" data-dismiss="modal">OK</button>')
  </script>
  {% endif %}

</body>

</html>
