{% extends "cauldronapp/base.html" %}

{% block content %}
<div class="container">
    <div class="h3 mt-5 mb-5 font-weight-bold text-dark text-uppercase">Cookie Policy</div>

    <hr class="my-4">

    <p>Pursuant to the provisions of Act 34/2002, of 11 July, on e-Commerce and Information Society Services (LSSI) and in compliance with European Directive 2009/136/EC, we inform the User that BITERGIUM SLL., as the owner of Cauldron, uses cookies on <a href="https://cauldron.io/">https://cauldron.io/</a> (hereinafter, the “Website”).</p>
    <p>This Cookie Policy applies to both the Website and forms part of the Privacy Policy, whereby the same meaning shall apply to the terms defined therein.</p>

    <div class="h5 mt-5 mb-4 font-weight-bold text-dark text-uppercase">What are cookies?</div>

    <p>Cookies are small data files downloaded into the User’s device when he accesses the Website. Cookies allow information to be stored and retrieved about the browsing habits of a User or his equipment and, depending on the information contained and the way in which the equipment is used, cookies may be utilised in order to recognise the User.</p>

    <div class="h5 mt-5 mb-4 font-weight-bold text-dark text-uppercase">Own cookies</div>

    <p>They allow the Website to track your movement from page to page to ensure that you are not required to provide the same information as you have previously provided. Cookies allow you to proceed through the Website quickly and easily without having to authenticate or reprocess each new area you visit. We may use cookies to analyze user behavior, such as which pages have been visited during the session, to enhance and customize your overall experience, for example, allowing us to determine and display more relevant content.</p>
    <p>There are two types of cookies:</p>
    <p><ul>
        <li><strong>Persistent cookies</strong>: remain on your computer and remain valid until you delete them or on their expiration date.</li>
        <li><strong>Session cookies</strong>: are deleted when you close your web browser.</li>
    </ul></p>
    <p>Cookies may be used for technical reasons of the Website, for analysis and to connect to third party Websites or advertising.</p>

    <div class="h5 mt-5 mb-4 font-weight-bold text-dark text-uppercase">Third party cookies</div>

    <p>Cauldron uses the following the following third party cookies:</p>
    <table class="table table-bordered">
        <thead>
            <tr class="table-active">
                <th scope="col">Cookie</th>
                <th scope="col">Purpose</th>
                <th scope="col">Retention period</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>_gat</td>
                <td>Traffic and usage analysis</td>
                <td>Undefined (aggregated data)</td>
            </tr>
            <tr>
                <td>_gid</td>
                <td>Traffic and usage analysis</td>
                <td>Undefined (aggregated data)</td>
            </tr>
            <tr>
                <td>_ga</td>
                <td>Traffic and usage analysis</td>
                <td>Undefined (aggregated data)</td>
            </tr>
        </tbody>
    </table>

    <div class="h5 mt-5 mb-4 font-weight-bold text-dark text-uppercase">Blocking or deleting cookies</div>

    <p>Notwithstanding the foregoing and the technical cookies that are strictly needed in order to provide our services, the User can adjust the settings of his browser in order to be notified when cookies are received and prevent them from being downloaded onto his device. Nevertheless, deactivating cookies may affect suitable operation of specific sections of the Website.</p>
    <p>Moreover, the User can revoke consent provided for the use of cookies by Cauldron at any time, without affecting the lawfulness of any processing conducted on the basis of consent given prior to withdrawal, whereby the user should adjust the settings of his browser in accordance with the terms specified in the foregoing point.</p>

    <p>Please see the instructions and help pages of your browser for further information:</p>
    <p><ol type="a">
        <li>
            <p><strong>Internet Explorer</strong>:<br>
            Tools → Internet options → Privacy → Settings.<br>
            For further information, please see the <a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank" rel="noopener noreferrer">Microsoft support</a> page or the browser’s help menu.</p>
        </li>
        <li>
            <p><strong>Mozilla Firefox</strong>:<br>
            Tools → Options → Privacy → History → Personalised settings.<br>
            For further information, please see the <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer" target="_blank" rel="noopener noreferrer">Mozilla support</a> page or the browser’s help menu.</p>
        </li>
        <li>
            <p><strong>Google Chrome</strong>:<br>
            Settings → Advanced → Privacy → Website settings.<br>
            For further information, please see the <a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank" rel="noopener noreferrer">Google support</a> page or the browser’s help menu.</p>
        </li>
        <li>
            <p><strong>Safari</strong>:<br>
            Preferences → Security.<br>
            For further information, please see the <a href="https://support.apple.com/en-gb/HT201265" target="_blank" rel="noopener noreferrer">Apple support</a> page or the browser’s help menu.</p>
        </li>
    </ol></p>

    <hr class="my-4">

    <p><em>Last updated: 2020-01-24</em></p>
</div>
{% endblock %}
