{% extends "cauldronapp/base.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}


{% block content %}

    <div class="container-fluid">

      <div class="row">

        <!-- Add data sources -->
        {% if editable %}
        <div class="col-lg-3 order-lg-1 order-2">
          <div class="header-dashboard">
            <h4>Add data sources</h4>
          </div>

          {% include "cauldronapp/add_datasource/github.html" %}
          {% include "cauldronapp/add_datasource/git.html" %}
          {% include "cauldronapp/add_datasource/gitlab.html" %}
          {% include "cauldronapp/add_datasource/meetup.html" %}

          <div class="alert alert-info" role="alert">
            It is planned for the future to add more data sources (like Discourse or Slack), but feel free to suggest any other data source option via the feedback button!
          </div>
        </div>
        {% endif %}
        <!-- End add data sources -->

        <!-- Main part project page -->
        {% if editable %}
        <div class="col-lg-9 order-lg-2 order-1">
        {% else %}
        <div class="col-lg-12 order-lg-2 order-1">
        {% endif %}
          <div class="pt-2">
            {% if dashboard %}

              {% include "cauldronapp/project_header.html" %}

              {% include "cauldronapp/project_metrics.html" %}

              {% include "cauldronapp/repositories_table.html" %}

            {% endif %}
          </div>
        </div>
        <!--END main part project page-->

      </div>
    </div>

    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Share {{dashboard.name}} Public Dashboard</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% with project_name=dashboard.name project_id=dashboard.id %}
              {% include "cauldronapp/share_buttons.html" %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logModalLabel">Repository logs</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="logger-body">
              <pre class="logger"><code class="log-content">Loading...</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>



{% endblock %}


{% block javascript %}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.2.min.js" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js" integrity="sha256-C66CaAImteEKZPYvgng9j10J/45e9sAuZyfPYCwp4gE=" crossorigin="anonymous"></script>
<script src="{% static 'js/dashboard.js' %}" charset="utf-8"></script>
{% endblock %}
