{% extends "cauldronapp/base.html" %}
{% load static %}

{% block css%}
{% endblock %}


{% block content %}
  <section class="header">
    <!-- Container for ALPHA version -->
    <div class="container pt-3" id="alert-alpha">
      <div class="alert alert-warning" role="alert">
        This is an alpha version of Cauldron. All data can be removed without prior notice. Feedback is welcome!
      </div>
    </div>
    <!-- END container for ALPHA version -->
    <div class="py-5 container-fluid h-100 d-inline-block">
      <div class="row justify-content-lg-center align-items-center">
        <div class="col-lg-5 text-center text-lg-left">
          <h1 class="font-weight-bold my-4">Level Up Software Development Analytics</h1>
          <p class="mb-3">Cauldron allows project managers, analysts, and developers to understand more about the community and processes involved in software development</p>
          <form action="{% url 'new_project' %}" method="post" class="create-project">
            {% csrf_token %}
            <button type="submit" class="btn btn-light btn-lg my-3" role="button">Analyze a Project</button>
          </form>
        </div>
        <div class="col-lg-4 text-lg-left">
          <img class="img-fluid" src="{% static 'img/three_images.png' %}" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="features">
    <div class="container-fluid">
      <div class="row justify-content-lg-center">
        <div class="col-lg-3 mb-3">
          <img class="img-fluid mb-3" src="{% static 'img/page_project_shadowed.png' %}" alt="Project page">
          <h2>All-in-one</h2>
          <hr>
          <p>Cauldron is a SaaS analytics solution that allows users to aggregate information from multiple collaboration platforms as different types of data sources. Because software development is more than just code commits in a single repository, Cauldron allows users define which data sources to include in any analysis.</p>

        </div>
        <div class="col-lg-3">
          <img class="img-fluid mb-3" src="{% static 'img/contributors.png' %}" alt="Contributors graph">
          <h2>Shareable Dashboards</h2>
          <hr>
          <p><em>"Collecting data is only the first step toward wisdom, but sharing data is the first step toward community"</em> (<a href="https://en.wikipedia.org/wiki/Henry_Louis_Gates_Jr." target="_blank" rel="noopener noreferrer">Henry Louis Gates, Jr.</a>). Cauldron allow users to share reports and metrics about software development.</p>
        </div>
        <div class="col-lg-3">
          <img class="img-fluid mb-3" src="{% static 'img/gitlab_cauldron_repo.png' %}" alt="Cauldron Gitlab source code">
          <h2>Free Open Source Software</h2>
          <hr>
          <p>Cauldron is free, open source software to allow users, contributors, and maintainers to use, study, share, and improve the software openly.</p>

        </div>
      </div>
      <div class="row justify-content-center text-center">
        <form action="{% url 'new_project' %}" method="post" class="create-project">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-lg my-3" role="button">Analyze a Project</button>
        </form>
      </div>
    </div>
  </section>
  <section class="technical-details">
    <div class="container-fluid">

      <div class="row justify-content-center mb-3">

        <div class="col-sm-4">
          <h2 class="mb-3 text-center">Supported datasources</h2>
          <div class="row">
            <div class="col-lg-6">
              <div class="media">
                <div class="align-self-start mr-3"><i class="fas fa-code"></i></div>
                <div class="media-body">
                  <p class="font-weight-bold mb-1">Source Code Management</p>
                  <p class="text-justify">Git</p>
                </div>
              </div>
              <div class="media">
                <div class="align-self-start mr-3"><i class="fas fa-bug"></i></div>
                <div class="media-body">
                  <p class="font-weight-bold mb-1">Issue tracking</p>
                  <p class="text-justify">GitHub Issues, GitLab Issues</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="media">
                <div class="align-self-start mr-3"><i class="fas fa-code-branch"></i></div>
                <div class="media-body">
                  <p class="font-weight-bold mb-1">Source Code Review</p>
                  <p class="text-justify">GitHub Pull Requests, GitLab Merge Requests</p>
                </div>
              </div>
              <div class="media">
                <div class="align-self-start mr-3"><i class="fas fa-users"></i></div>
                <div class="media-body">
                  <p class="font-weight-bold mb-1">Meetings Management</p>
                  <p class="text-justify">Meetup</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 text-center">
          <h2>Popular Projects</h2>
          <p class="text-justify">
            <ul class="list-unstyled">
              <li class="mb-1">
                <a target="_blank" rel="noopener noreferrer" class="font-weight-bold"  href="https://cauldron.io/project/1308">Opendistro-for-Elasticsearch</a>
              </li>
              <li class="mb-1">
                <a target="_blank" rel="noopener noreferrer" class="font-weight-bold"  href="https://cauldron.io/project/1309">Ansible</a>
              </li>
              <li class="mb-1">
                <a target="_blank" rel="noopener noreferrer" class="font-weight-bold"  href="https://cauldron.io/project/1310">Chaoss</a>
              </li>
              <li class="mb-1">
                <a target="_blank" rel="noopener noreferrer" class="font-weight-bold"  href="https://cauldron.io/project/1311">Kubernetes</a>
              </li>
              <li class="mb-1">
                <a target="_blank" rel="noopener noreferrer" class="font-weight-bold"  href="https://cauldron.io/project/1312">Cauldron.io (GitLab)</a>
              </li>
            </ul>
          </p>
        </div>

      </div>
      <div class="row justify-content-center text-center">
        <form action="{% url 'new_project' %}" method="post" class="create-project">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-lg my-3" role="button">Analyze a Project</button>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
