<div class="col-lg-4">
  <div class="card mb-4">
    <!-- Card Header -->
    <div class="card-header d-flex">
      <div class="mr-auto font-weight-bold"><a href="{% url 'show_dashboard' project.project.id %}">{{project.project.name}}</a></div>
      <a href="{% url 'show_dashboard' project.project.id %}" role="button" class="btn btn-sm btn-outline-primary mr-2" data-toggle="tooltip" data-placement="bottom" title="Edit project settings"><i class="fas fa-cog"></i></a>
      <a href="{% url 'open_workspace' project.project.id %}" target="_blank" rel="noopener noreferrer" role="button" class="btn btn-sm btn-outline-primary mr-2{% if project.total == 0 %} disabled{% endif %}" data-toggle="tooltip" data-placement="bottom" title="My Workspace"><i class="fa fa-wrench"></i></a>
      <span data-toggle="tooltip" data-placement="bottom" title="Delete project"><button type="button" data-toggle="modal" data-target="#modal-delete-project" data-project-id="{{project.project.id}}" role="button" class="open-deleteProjectModal btn btn-sm btn-outline-danger mr-2"><i class="fas fa-trash-alt"></i></button></span>
    </div>
    
    <!-- ./card header -->
    <!-- card Body -->
    <div class="card-body">
      <!-- publlic dashboard -->
      <div class="row py-1 border-bottom">
        <div class="col-11">
          <strong>Public dashboard</strong>:
          {% if project.total > 0%}
            <a href="https://{{request.get_host}}{% url 'open_public_kibana' project.project.id %}" 
              target="_blank">https://{{request.get_host}}{% url 'open_public_kibana' project.project.id %}</a>
          {% endif %}
        </div>
        <div class="col-1">
          {% if project.total > 0%}
            <span class="sharedashboard" data-toggle="modal" data-target="#shareModal" 
            data-projname="{{project.project.name}}" 
            data-projid="{{project.project.id}}"
            data-projurl="https://{{request.get_host}}{% url 'open_public_kibana' project.project.id %}">
              <button type="button" class="btn btn-sm btn-outline-success"
               data-toggle="tooltip" title="Share options">
              <i class="fas fa-share-alt"></i>
              </button>
            </span>
          {% endif %}
        </div>
      </div>
      
      <!-- data sources -->
      <div class="row py-1 border-bottom">
        <div class="col-6"><strong>Data sources</strong></div>
        <div class="col-6">{{ project.total }}</div>
      </div>
      
      <!-- status -->
      <div class="row pt-1">
        <div class="col-6"><strong>Created</strong>: {{ project.project.created | date:"M jS, Y"}}</div>
        <div class="col-5"><strong>Last update</strong>: {{ project.project.created | date:"M jS, Y"}}</div>
        <div class="col-1">
          <button type="button" {% if project.total > 0%}onclick="refreshProjectDatasources(this, {{project.project.id}})"{% endif %} role="button" class="float-right btn btn-sm btn-outline-primary mr-2{% if project.total == 0 %} disabled{% endif %}" {% if project.total > 0 %}data-toggle="tooltip" data-placement="bottom" title="Refresh all data sources"{% endif %}><i class="fas fa-sync-alt"></i></button>
        </div>
        <div class="col-2"><strong>Status</strong></div>
        <div class="col-10 py-1">
          <div class="progress" style="height: 1.2rem;">
              {% if project.completed %}
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{% widthratio project.completed project.total 100 %}" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio project.completed project.total 100 %}%" data-toggle="tooltip" data-placement="bottom" title="Completed"><strong>{% widthratio project.completed project.total 100 %}%</strong></div>
              {% endif %}
              {% if project.errors %}
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="{% widthratio project.errors project.total 100 %}" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio project.errors project.total 100 %}%"data-toggle="tooltip" data-placement="bottom" title="Error"><strong>{% widthratio project.errors project.total 100 %}%</strong></div>
              {% endif %}
          </div>
        </div>
        
      </div>
    
    </div>
    <!-- ./card body -->

  </div>
</div>
