<div>

  <div class="card">
    <div class="card-header font-weight-bold">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" data-toggle="pill" href="#pills-overview" role="tab" aria-controls="pills-overview" aria-selected="true">Overview</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-toggle="pill" href="#pills-activity-git" role="tab" aria-controls="pills-activity-git" aria-selected="true">Commits Activity</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-toggle="pill" href="#pills-activity-issues" role="tab" aria-controls="pills-activity-issues" aria-selected="false">Issues Activity</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-toggle="pill" href="#pills-activity-reviews" role="tab" aria-controls="pills-activity-reviews" aria-selected="false">PRs/MRs Activity</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-toggle="pill" href="#pills-community" role="tab" aria-controls="pills-community" aria-selected="false">Community</a>
        </li>
        {% if repositories_count > 0 %}
        <li class="nav-item">
          <a class="nav-link"
             data-toggle="tooltip" title="Visualize the data in Kibana"
             href="{% url 'open_public_kibana' dashboard.id %}"
             target="_blank">
            <span class="icon"><i class="fa fa-chart-bar"></i></span>
            <span class="text">More details</span>
          </a>
        </li>
        {% endif %}
        <div class="form-group ml-md-auto">
          <div class="input-group">
            <input type="text" class="form-control"  id="date-picker-input">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="date-picker">
                <i class="fa fa-calendar"></i>&nbsp;
                <i class="fa fa-caret-down"></i>
              </button>
            </div>
          </div>
        </div>


      </ul>
    </div>

    <div class="tab-content card-body text-center mb-4">
      <!-- Start Overview -->
      <div id="pills-overview" class="mb-4 tab-pane fade show active" role="tabpanel" >
        <div class="row py-4 border">
          <div class="col-md-2">
            <p class="font-weight-bold text-muted mb-3"># Commits <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/overview/commits.md"><i class="far fa-question-circle"></i></a></p>
            <p class="h5 font-weight-bold text-gray-800"><span id="number_commits_range"> {{ metrics.commits_range }}</span></p>
          </div>
          <div class="col-md-2 border-left border-right">
            <p class="font-weight-bold text-muted mb-3"># Pull requests <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/overview/pull-merge-requests-created.md"><i class="far fa-question-circle"></i></a></p>
            <p class="h5 font-weight-bold text-gray-800"><span id="number_reviews_opened"> {{ metrics.reviews_opened }}</span></p>
          </div>
          <div class="col-md-2 border-left border-right">
            <p class="font-weight-bold text-muted mb-3">Review duration <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/overview/review-duration.md"><i class="far fa-question-circle"></i></a></p>
            <p class="h5 font-weight-bold text-gray-800"><span id="number_review_duration"> {{ metrics.review_duration }}</span> days</p>
          </div>
          <div class="col-md-2 border-left border-right">
            <p class="font-weight-bold text-muted mb-3"># Issues created <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/overview/issues-created.md"><i class="far fa-question-circle"></i></a></p>
            <p class="h5 font-weight-bold text-gray-800"><span id="number_issues_created_range"> {{ metrics.issues_created_range }}</span></p>
          </div>
          <div class="col-md-2 border-left border-right">
            <p class="font-weight-bold text-muted mb-3"># Issues closed <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/overview/issues-closed.md"><i class="far fa-question-circle"></i></a></p>
            <p class="h5 font-weight-bold text-gray-800"><span id="number_issues_closed_range"> {{ metrics.issues_closed_range }}</span></p>
          </div>
          <div class="col-md-2 border-left border-right">
            <p class="font-weight-bold text-muted mb-3">Avg. Time to close <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/overview/average-time-to-close.md"><i class="far fa-question-circle"></i></a></p>
            <p class="h5 font-weight-bold text-gray-800"><span id="number_issues_time_to_close"> {{ metrics.issues_time_to_close }}</span> days</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-commits-overview"></div>
          </div>
          <div class="col-md-6">
            <div id="chart-people-overview"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-issues-overview"></div>
          </div>
          <div class="col-md-6">
            <div id="chart-pull-requests-overview"></div>
          </div>
        </div>

      </div>
      <!-- End Overview -->
      <!-- Start GIT ACTIVITY -->
      <div id="pills-activity-git" class="mb-4 tab-pane fade" role="tabpanel" >
        <div class="row py-4 border">
          <div class="col-md-4">
            <p class="font-weight-bold text-muted mb-3"># Commits <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/commits.md"><i class="far fa-question-circle"></i></a></p>
            <div class="row">
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{ metrics.commits_last_month }}</p>
                <p class="text-muted mb-1">Last month</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.commits_last_year}}</p>
                <p class="text-muted mb-1">Last year</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.commits_yoy | stringformat:"+.2f" }}%</p>
                <p class="text-muted mb-1">Year-over-year</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 border-right border-left">
            <p class="font-weight-bold text-muted mb-3"># Lines/commit <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/lines-commit.md"><i class="far fa-question-circle"></i></a></p>
            <div class="row">
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{ metrics.lines_commit_last_month|stringformat:".2f" }}</p>
                <p class="text-muted mb-1">Last month</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.lines_commit_last_year|stringformat:".2f"}}</p>
                <p class="text-muted mb-1">Last year</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.lines_commit_yoy | stringformat:"+.2f" }}%</p>
                <p class="text-muted mb-1">Year-over-year</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <p class="font-weight-bold text-muted mb-3"># Lines/commit/file <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/lines-commit-file.md"><i class="far fa-question-circle"></i></a></p>
            <div class="row">
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{ metrics.lines_commit_file_last_month|stringformat:".4f" }}</p>
                <p class="text-muted mb-1">Last month</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.lines_commit_file_last_year|stringformat:".4f"}}</p>
                <p class="text-muted mb-1">Last year</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.lines_commit_file_yoy | stringformat:"+.2f" }}%</p>
                <p class="text-muted mb-1">Year-over-year</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-commits"></div>
          </div>
          <div class="col-md-6">
            <div id="chart-lines-touched"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-commits-hour"></div>
          </div>
          <div class="col-md-6">
            <div id="chart-commits-weekday"></div>
          </div>
        </div>
      </div>
      <!-- End GIT ACTIVITY -->
      <!-- Start Issues ACTIVITY -->
      <div id="pills-activity-issues" class="mb-4 tab-pane fade" role="tabpanel" >
        <div class="row py-4 border">
          <div class="col-md-4">
            <p class="font-weight-bold text-muted mb-3"># Issues created <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/issues-created.md"><i class="far fa-question-circle"></i></a></p>
            <div class="row">
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{ metrics.issues_open_last_month }}</p>
                <p class="text-muted mb-1">Last month</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.issues_open_last_year}}</p>
                <p class="text-muted mb-1">Last year</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.issues_open_yoy | stringformat:"+.2f" }}%</p>
                <p class="text-muted mb-1">Year-over-year</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 border-left border-right">
            <p class="font-weight-bold text-muted mb-3"># Issues closed <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/issues-closed.md"><i class="far fa-question-circle"></i></a></p>
            <div class="row">
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{ metrics.issues_closed_last_month }}</p>
                <p class="text-muted mb-1">Last month</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.issues_closed_last_year}}</p>
                <p class="text-muted mb-1">Last year</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.issues_closed_yoy | stringformat:"+.2f" }}%</p>
                <p class="text-muted mb-1">Year-over-year</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <p class="font-weight-bold text-muted mb-3"># Issues open <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/issues-open.md"><i class="far fa-question-circle"></i></a></p>
            <div class="row">
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{ metrics.issues_open_today }}</p>
                <p class="text-muted mb-1">Today</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.issues_open_month_ago}}</p>
                <p class="text-muted mb-1">1 Month ago</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.issues_open_year_ago}}</p>
                <p class="text-muted mb-1">1 Year ago</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-issues-open-closed"></div>
          </div>
          <div class="col-md-6">
            <div id="chart-issues-open-age"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-issues-open-weekday"></div>
          </div>
          <div class="col-md-6">
            <div id="chart-issues-closed-weekday"></div>
          </div>
        </div>
      </div>
      <!-- End Issues ACTIVITY -->
      <!-- Start Reviews ACTIVITY -->
      <div id="pills-activity-reviews" class="mb-4 tab-pane fade" role="tabpanel" >
        <div class="row py-4 border">
          <div class="col-md-4">
            <p class="font-weight-bold text-muted mb-3"># Pull/Merge requests created <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/pull-merge-requests-created.md"><i class="far fa-question-circle"></i></a></p>
            <div class="row">
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{ metrics.reviews_open_last_month }}</p>
                <p class="text-muted mb-1">Last month</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.reviews_open_last_year}}</p>
                <p class="text-muted mb-1">Last year</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.reviews_open_yoy | stringformat:"+.2f" }}%</p>
                <p class="text-muted mb-1">Year-over-year</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 border-left border-right">
            <p class="font-weight-bold text-muted mb-3"># Pull/Merge requests closed <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/pull-merge-requests-closed.md"><i class="far fa-question-circle"></i></a></p>
            <div class="row">
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{ metrics.reviews_closed_last_month }}</p>
                <p class="text-muted mb-1">Last month</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.reviews_closed_last_year}}</p>
                <p class="text-muted mb-1">Last year</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.reviews_closed_yoy | stringformat:"+.2f" }}%</p>
                <p class="text-muted mb-1">Year-over-year</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <p class="font-weight-bold text-muted mb-3"># Pull/Merge requests open <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/pull-merge-requests-open.md"><i class="far fa-question-circle"></i></a></p>
            <div class="row">
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{ metrics.reviews_open_today }}</p>
                <p class="text-muted mb-1">Today</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.reviews_open_month_ago}}</p>
                <p class="text-muted mb-1">1 Month ago</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800">{{metrics.reviews_open_year_ago }}</p>
                <p class="text-muted mb-1">1 Year ago</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-reviews-open-closed"></div>
          </div>
          <div class="col-md-6">
            <div id="chart-reviews-open-age"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-reviews-open-weekday"></div>
          </div>
          <div class="col-md-6">
            <div id="chart-reviews-closed-weekday"></div>
          </div>
        </div>
      </div>
      <!-- End Reviews ACTIVITY-->
      <!-- Start COMMUNITY -->
      <div id="pills-community" class="mb-4 tab-pane fade" role="tabpanel" >
        <div class="row py-4 border">
          <div class="col-md-6">
            <p class="font-weight-bold text-muted mb-3"># Active people <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/community/active-people.md"><i class="far fa-question-circle"></i></a></p>
            <div class="row">
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800"><span id="active_people_git">{{ metrics.active_people_git }}</span></p>
                <p class="text-muted mb-1">Git authors</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800"><span id="active_people_issues">{{metrics.active_people_issues}}</span></p>
                <p class="text-muted mb-1">Issue authors</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800"><span id="active_people_patches">{{metrics.active_people_patches}}</span></p>
                <p class="text-muted mb-1">PRs/MRs submitters</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 border-left">
            <p class="font-weight-bold text-muted mb-3"># Onboardings <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/community/onboardings.md"><i class="far fa-question-circle"></i></a></p>
            <div class="row">
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800"><span id="onboardings_git">{{metrics.onboardings_git}}</span></p>
                <p class="text-muted mb-1">Git authors</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800"><span id="onboardings_issues">{{metrics.onboardings_issues}}</span></p>
                <p class="text-muted mb-1">Issue authors</p>
              </div>
              <div class="col-4">
                <p class="h5 font-weight-bold text-gray-800"><span id="onboardings_patches">{{metrics.onboardings_patches}}</span></p>
                <p class="text-muted mb-1">PRs/MRs submitters</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-authors-git-active"></div>
          </div>
          <div class="col-md-6">
            <div id="chart-authors-issues-active"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-authors-reviews-active"></div>
          </div>
<!--          <div class="col-md-6">-->
<!--            <div id="chart-commits-weekday"></div>-->
<!--          </div>-->
        </div>
      </div>
      <!-- End COMMUNITY -->
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function(event) {
    var graphs = {
        "chart-commits-overview": {{ metrics.commits_bokeh | safe }},
        "chart-people-overview": {{ metrics.author_evolution_bokeh | safe }},
        "chart-issues-overview": {{ metrics.issues_open_closed_bokeh | safe }},
        "chart-pull-requests-overview": {{ metrics.reviews_open_closed_bokeh | safe }},
        "chart-commits": {{ metrics.commits_bokeh | safe }},
        "chart-commits-hour": {{ metrics.commits_hour_day_bokeh | safe }},
        "chart-commits-weekday": {{ metrics.commits_weekday_bokeh | safe }},
        "chart-lines-touched": {{ metrics.commits_lines_changed_boked | safe }},
        "chart-issues-open-closed": {{ metrics.issues_open_closed_bokeh | safe }},
        "chart-issues-open-age": {{ metrics.issues_open_age_bokeh | safe }},
        "chart-issues-open-weekday": {{ metrics.issues_open_weekday_bokeh | safe }},
        "chart-issues-closed-weekday": {{ metrics.issues_closed_weekday_bokeh | safe }},
        "chart-reviews-open-closed": {{ metrics.reviews_open_closed_bokeh | safe }},
        "chart-reviews-open-age": {{ metrics.reviews_open_age_bokeh | safe }},
        "chart-reviews-open-weekday": {{ metrics.reviews_open_weekday_bokeh | safe }},
        "chart-reviews-closed-weekday": {{ metrics.reviews_closed_weekday_bokeh | safe }},
        "chart-authors-git-active": {{ metrics.commits_authors_active_bokeh | safe }},
        "chart-authors-issues-active": {{ metrics.issues_authors_active_bokeh | safe }},
        "chart-authors-reviews-active": {{ metrics.reviews_authors_active_bokeh | safe }},
    }

    for (var k in graphs) {
        item = graphs[k];
        Bokeh.embed.embed_item(item, k);
    }
})
</script>
