<div class="col-lg-4">
  <div class="card mb-4">
    <!-- Card Header -->
    <div class="card-header d-flex">
      <div class="mr-auto font-weight-bold"><a href="{% url 'show_dashboard' project.project.id %}">{{project.project.name}}</a></div>
      <a href="{% url 'show_dashboard' project.project.id %}" role="button" class="btn btn-sm btn-outline-primary mr-2" data-toggle="tooltip" data-placement="bottom" title="Edit project settings"><i class="fas fa-cog"></i></a>
      <a href="{% url 'open_workspace' project.project.id %}" target="_blank" rel="noopener noreferrer" role="button" class="btn btn-sm btn-outline-primary mr-2{% if project.total == 0 %} disabled{% endif %}" data-toggle="tooltip" data-placement="bottom" title="My Workspace"><i class="fa fa-wrench"></i></a>
      <span data-toggle="tooltip" data-placement="bottom" title="Delete project"><button type="button" data-toggle="modal" data-target="#modal-delete-project" data-project-id="{{project.project.id}}" role="button" class="open-deleteProjectModal btn btn-sm btn-outline-danger mr-2"><i class="fas fa-trash-alt"></i></button></span>
    </div>
    
    <!-- ./card header -->
    <!-- card Body -->
    <div class="card-body">
      <!-- public dashboard -->
      <div class="container">
        <div class="row justify-content-between">
          <div>
            <strong>Public dashboard</strong>:
            {% if project.total > 0%}
              <a href="https://{{request.get_host}}{% url 'open_public_kibana' project.project.id %}"
                target="_blank">https://{{request.get_host}}{% url 'open_public_kibana' project.project.id %}</a>
            {% endif %}
          </div>
          <div>
            {% if project.total > 0%}
              <span class="sharedashboard" data-toggle="modal" data-target="#shareModal"
              data-projname="{{project.project.name}}"
              data-projid="{{project.project.id}}"
              data-projurl="https://{{request.get_host}}{% url 'open_public_kibana' project.project.id %}">
                <button type="button" class="btn btn-sm btn-outline-success"
                 data-toggle="tooltip" title="Share options">
                <i class="fas fa-share-alt"></i>
                </button>
              </span>
            {% endif %}
          </div>
        </div>
      </div>
      <hr class="my-2">
      <!-- creation date -->

      <div class="row">
        <div class="col-5"><strong>Created</strong></div>
        <div class="col-7">{{ project.project.created | date:"jS M Y"}}</div>
      </div>

      <hr class="my-2">
      <!-- data sources -->
      <div class="row">
        <div class="col-5"><strong>Data sources</strong></div>
        <div class="col-7">
          <div class="container">
            <div class="row justify-content-between">
              <div>
                <i class="fab fa-git-square"></i> <span>{{project.git}}</span>
              </div>
              <div>
                <i class="fab fa-github"></i> <span>{{project.github}}</span>
              </div>
              <div>
                <i class="fab fa-gitlab"></i> <span>{{project.gitlab}}</span>
              </div>
              <div>
                <i class="fab fa-meetup"></i> <span>{{project.meetup}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="my-2">
      <!-- status -->
      <div class="row">
        <div class="col-5"><strong>Gathering status</strong></div>
        <div class="col-7">
          <div class="container">
            <div class="row justify-content-between">
              <div>
                <i class="fas fa-check text-success"></i> <span>{{project.completed}}</span>
              </div>
              <div>
                <i class="fas fa-times text-danger"></i> <span>{{project.errors}}</span>
              </div>
              <div>
                <i class="fas fa-spinner"></i> <span>{{project.pending}}</span>
              </div>
              <div>
                <button type="button" {% if project.total > 0%}onclick="refreshProjectDatasources(this, {{project.project.id}})"{% endif %} role="button" class="float-right btn btn-sm btn-outline-primary mr-2{% if project.total == 0 %} disabled{% endif %}" {% if project.total > 0 %}data-toggle="tooltip" data-placement="bottom" title="Refresh all data sources"{% endif %}><i class="fas fa-sync-alt"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---->

    
    </div>
    <!-- ./card body -->

  </div>
</div>
