{% extends "cauldronapp/base.html" %}
{% load static %}


{% block css%}

{% endblock %}


{% block content %}
<div class="container-fluid mt-3">
	<div class="mb-3 d-flex">
		<h1 class="mr-4">My projects</h1>
		<form action="/dashboard" method="post" class="create-dashboard form-inline">
			{% csrf_token %}
			<button class="btn btn-icon-split btn-primary" role="button" type="submit">
				<span class="icon"><i class="fas fa-plus"></i></span>
				<span class="text">New project</span>
			</button>
		</form>
	</div>

	<div class="row">
		<!-- PROJECT CARD-->
		{% if projects_info %}
			{% for project in projects_info %}
				{% include "cauldronapp/project_card.html" %}
			{% endfor %}
		{% endif %}
		<!-- END PROJECT CARD-->
	</div>

  {% if projects_info %}
    {% include "cauldronapp/nav_pagination.html" %}
  {% endif %}

</div>

{% include "cauldronapp/delete_project.html" %}

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title"></h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form class="form-inline">
				<div class="input-group col-12 px-0">
				  <input type="text" class="form-control" readonly>
				  <div class="input-group-append">
					<button class="btn btn-outline-dark copy-share-link-kibana rounded-right" type="button" data-toggle="tooltip" data-title="Copied to clipboard!" data-trigger="manual" data-placement="bottom"><i class="far fa-copy"></i></button>
				  </div>
				  <div class="btn-group ml-2" role="group">
					<a class="shareontwitter btn btn-twitter" target="_blank"><i class="fab fa-twitter"></i></a>
					<a class="shareonlinkedin btn btn-linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
					<a class="shareonemail btn btn-envelope"><i class="far fa-envelope"></i></a>
				  </div>
				</div>
			  </form>
		</div>
	  </div>
	</div>
  </div>

{% endblock %}


{% block javascript %}
<script src="{% static 'js/projects.js' %}" charset="utf-8"></script>
{% endblock %}
