<div class="header-dashboard">
{% if dashboard %}

  <div class="row justify-content-between mb-3">

    <h1 id="dash-name-container">
      <span id="dash-name">{{dashboard.name}}</span>
      {% if editable %}
      <a href="#" id="rename"><i class="far fa-xs fa-edit"></i></a>
      {% endif %}
    </h1>
    <div>
      <form class="input-group mb-3 form-inline" id="change-name" method='post' action="{% url 'rename_project' dashboard.id %}" style="display: none;">
        {% csrf_token %}
        <input type="text" class="form-control" id="new-name" name="name" placeholder="" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="4-32 characters long">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Change</button>
        </div>
      </form>
    </div>

    <div>
      <a id="open-kibana"
        class="btn btn-lg btn-primary {% if repositories_count == 0 or not editable %}disabled{% endif %}"
        href="{% url 'open_workspace' dashboard.id %}"
        target="_blank">
        <i class="fa fa-chart-bar"></i> My Workspace
      </a>
    </div>

  </div>

  <div class="row">
    <div>
      {% if repositories_count == 0 %}
      <form class="form-inline">
        <span class="font-weight-bold mr-1">Public dashboard link: </span>
        <span class="font-italic">add some datasources first</span>
      </form>
      {% else %}
        {% with project_name=dashboard.name project_id=dashboard.id %}
          {% include "cauldronapp/share_buttons.html" %}
        {% endwith %}
      {% endif %}
      <div class="mb-2">
        <span class="font-weight-bold">Data sources found:</span>
        <span id="num-repos-filter">0</span>
      </div>
      <div class="mb-2">
        <span class="font-weight-bold">Status:</span>
        <span id="general-status">
        <!--This content is generated via JS-->
        </span>
      </div>
      {% if editable %}
        {% if repositories_count > 0 %}
        <button type="button" class="btn btn-outline-dark btn-reanalyze-all mb-2" data-repo="{{repo.id}}"><i class="fa fa-sync"></i> Refresh datasources</button>
        {% endif %}
      {% endif %}
    </div>
  </div>


  {% if repositories_count > 0 %}
  <!--div class="row justify-content-lg-end">
    <div class="alert alert-info mb-2 mr-3" role="alert">
      For now, the update of the status of the repositories is done manually
      <i class="fas fa-arrow-right"></i>
    </div>
    <button type="button" class="btn btn-outline-dark btn-refresh-table mb-2"><i class="fa fa-sync"></i> Update table</button>
  </div-->
  {% endif %}

{% else %}
  <h1>Dashboard not found</h1>
{% endif %}
</div>

  <!--span class="dropdown backend-filters">
    <button class="badge btn btn-light dropdown-toggle" type="button" id="btn-filter-backend" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

    </button>
    <div class="dropdown-menu" aria-labelledby="btn-filter-backend">
      <a class="backend-item dropdown-item active" data-filter-type="backend" data-filter="any" href="#">Any</a>
      <a class="backend-item dropdown-item" data-filter-type="backend" data-filter="git" href="#">Git</a>
      <a class="backend-item dropdown-item" data-filter-type="backend" data-filter="github" href="#">GitHub</a>
      <a class="backend-item dropdown-item" data-filter-type="backend" data-filter="gitlab" href="#">GitLab</a>
      <a class="backend-item dropdown-item" data-filter-type="backend" data-filter="meetup" href="#">Meetup</a>
    </div>
  </span>

  <span class="dropdown status-filters">
    <button class="badge btn btn-light dropdown-toggle" type="button" id="btn-filter-status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

    </button>
    <div class="dropdown-menu" aria-labelledby="btn-filter-backend">
      <a class="backend-item dropdown-item active" data-filter-type="status" data-filter="all" href="#">All</a>
      <a class="backend-item dropdown-item" data-filter-type="status" data-filter="pending" href="#">Pending</a>
      <a class="backend-item dropdown-item" data-filter-type="status" data-filter="running" href="#">Running</a>
      <a class="backend-item dropdown-item" data-filter-type="status" data-filter="completed" href="#">Completed</a>
      <a class="backend-item dropdown-item" data-filter-type="status" data-filter="error" href="#">Error</a>
    </div>
  </span-->
