{% load cauldron_tags %}

{% if repositories_count > 0 %}
{% if render_table %}
<form method="GET" action ="" class="form-inline justify-content-between">
  <div class="form-group mb-2">
    <span class="font-weight-bold d-block d-md-inline mr-2">Filter by: </span>

    <select name="kind" class="selectpicker mr-2" title="Select a Data Source..." multiple data-actions-box="true" data-style="btn-outline-dark" data-selected-text-format="count > 2">
      <option value="git" data-icon="fab fa-git-square">Git</option>
      <option value="github" data-icon="fab fa-github">GitHub</option>
      <option value="gitlab" data-icon="fab fa-gitlab">Gitlab</option>
      <option value="meetup" data-icon="fab fa-meetup">Meetup</option>
    </select>

    <select name="status" class="selectpicker mr-2" title="Select a Status..." multiple data-actions-box="true" data-style="btn-outline-dark" data-selected-text-format="count > 2">
      <option value="completed" data-icon="fas fa-check text-success">Completed</option>
      <option value="running" data-icon="fas fa-spinner">Running</option>
      <option value="pending" data-icon="fas fa-circle text-primary">Pending</option>
      <option value="error" data-icon="fas fa-exclamation-triangle text-warning">Error</option>
      <option value="unknown" data-icon="fas fa-question text-warning">Unknown</option>
    </select>

    <button type="submit" class="btn btn-outline-dark"><strong>Apply filters</strong></button>
  </div>

  <div class="form-group ml-2 mb-2">
    <span class="font-weight-bold d-block d-md-inline mr-2">Search: </span>

    <div class="input-group">
      <input class="form-control" name="search" type="text" value="{{ request.GET.search }}" placeholder="Search..."/>
      <div class="input-group-append">
        <button class="btn btn-outline-dark" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</form>

<div class="table-responsive">
  <table id="repos-table" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Status
          {% get_sorting_link request 'status' as status_link %}
          <a href="?{% url_replace request 'sort_by' status_link %}">
            <i class="{% get_sorting_icon request 'status' %}"></i>
          </a>
        </th>
        <th scope="col">Repository
          {% get_sorting_link request 'kind' as kind_link %}
          <a href="?{% url_replace request 'sort_by' kind_link %}">
            <i class="{% get_sorting_icon request 'kind' %}"></i>
          </a>
        </th>
        <th scope="col">Last refresh
          {% get_sorting_link request 'refresh' as refresh_link %}
          <a href="?{% url_replace request 'sort_by' refresh_link %}">
            <i class="{% get_sorting_icon request 'refresh' %}"></i>
          </a>
        </th>
        <th scope="col">Duration
          {% get_sorting_link request 'duration' as duration_link %}
          <a href="?{% url_replace request 'sort_by' duration_link %}">
            <i class="{% get_sorting_icon request 'duration' %}"></i>
          </a>
        </th>
        <th scope="col"></th>
        {% if editable %}
        <th scope="col"></th>
        <th scope="col"></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for repo in page_obj.object_list %}
      <tr id="repo-{{repo.id}}" data-backend="{{repo.backend}}" data-status="" data-repo-id="{{repo.id}}">
        <td class="repo-status">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </td>
        <td class="repo-url">
          {% if repo.backend == "github" %}
          <i class="fab fa-github"></i>
          {% elif repo.backend == "gitlab" %}
          <i class="fab fa-gitlab"></i>
          {% elif repo.backend == "meetup" %}
          <i class="fab fa-meetup"></i>
          {% else %}
          <i class="fab fa-git-square"></i>
          {% endif %}
          {{ repo.url }}
        </td>
        <td>
          <i class="fas fa-calendar-alt text-muted"></i>
          <span class="repo-last-update" style="font-size: small;">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
          </span>
        </td>
        <td>
          <i class="fas fa-stopwatch text-muted"></i>
          <span class="repo-duration" style="font-size: small;">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </span>
        </td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#logModal" data-repo="{{repo.id}}">
            <i class="fa fa-info"></i> <small>Logs</small>
          </button>
        </td>
        {% if editable %}
        <td>
            <button type="button" class="btn btn-sm btn-outline-danger btn-delete" data-repo="{{repo.id}}">
              <i class="fa fa-trash-alt"></i> <small>Remove</small>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-sm btn-outline-dark btn-reanalyze" data-repo="{{repo.id}}">
              <i class="fa fa-sync"></i> <small>Refresh</small>
            </button>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if page_obj.paginator.count == 0 %}
<div>
    <em>There are no entries for the selected filters</em>
</div>
{% endif %}

{% include "cauldronapp/nav_pagination.html" %}

{% endif %}

{% else %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <div class="row">
    {% if editable %}
    <div class="col-sm-2">
      <i class="fas fa-arrow-left"></i>
    </div>
    <div class="col-sm-10">
      <p><strong>Start adding data sources!</strong></p>
      <p>Projects are defined by set of different data sources. Add them with the tools in the side bar.</p>

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
    {% else %}
    <div class="col-sm-12">
      <p><strong>No repositories found for this project</strong></p>
      <p>The owner of this project has not added repositories yet. Check back later to see if they have been added.</p>

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}

  </div>
</div>
{% endif %}
