<form class="form-inline">
  <span class="font-weight-bold mr-1">Public dashboard link </span>
  <div class="input-group col-12 px-0">
    <input type="text" class="form-control" id="url-public-link-kibana" value="https://{{request.get_host}}{% url 'open_public_kibana' project_id %}" readonly>
    <div class="input-group-append">
      <button class="btn btn-outline-dark" type="button" id="copy-share-link-kibana" data-toggle="tooltip" data-title="copied!" data-trigger="manual" data-placement="bottom"><i class="far fa-copy"></i></button>
    </div>
    <div class="btn-group ml-2" role="group">
      <a href="https://twitter.com/intent/tweet?text=Watch+this+amazing+visualizations+of+{{project_name|urlencode}}+made+with+@cauldronio&url=https://{{request.get_host}}{% url 'open_public_kibana' project_id %}&hashtags=OpenSource," class="btn btn-twitter" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https://{{request.get_host}}{% url 'open_public_kibana' project_id %}" class="btn btn-facebook" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="mailto:?subject={{project_name|urlencode}}+visualizations&body=https://{{request.get_host}}{% url 'open_public_kibana' project_id %}" class="btn btn-envelope"><i class="far fa-envelope"></i></a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&text=Watch+this+amazing+visualizations+of+{{project_name|urlencode}}+made+with+@cauldronio&url=https://{{request.get_host}}{% url 'open_public_kibana' project_id %}" class="btn btn-linkedin"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</form>