<div class="card">
  <div class="card-body">
    <h5 class="card-title">GitHub</h5>
    <div class="card-body">
      {% if github_enabled %}
      <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="add">
        <input type="hidden" name="backend" value="github">
        <div class="form-group">
          <label for="gh_data">
            <span class="font-weight-bold">GitHub owner</span> or
            <span class="font-weight-bold">owner/repository</span> or
            <span class="font-weight-bold">URL</span>
          </label>
          <div class="input-group">
            <input type="text" class="form-control" id="gh_data" name="data">
            <input type="hidden" name="backend" value="github">
            <input type="hidden" name="action" value="add">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Add</button>
            </div>
          </div>
        </div>
        <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" name="commits" class="custom-control-input" id="checkbox-github-commits" checked>
          <label class="custom-control-label" for="checkbox-github-commits">Commits (Git repository)</label>
          <span data-toggle="tooltip" style="float:right" title="This will analyze the git repositories">
            <i class="fas fa-info-circle"></i>
          </span>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" name="issues" class="custom-control-input" id="checkbox-github-issues-prs" checked>
          <label class="custom-control-label" for="checkbox-github-issues-prs">Issues & Pull requests</label>
          <span data-toggle="tooltip" style="float:right" title="This will analyze GitHub issues and pull request from the repositories">
            <i class="fas fa-info-circle"></i>
          </span>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" name="forks" class="custom-control-input" id="checkbox-github-forks">
          <label class="custom-control-label" for="checkbox-github-forks">Include owner forks</label>
          <span data-toggle="tooltip" style="float:right" title="This will include forks from the GitHub owner in the analysis">
            <i class="fas fa-info-circle"></i>
          </span>
        </div>
      </div>
      </form>
      {% else %}
      <div class="container">
        {% include 'cauldronapp/create_project/datasource_card/message_token_required.html' with datasource='GitHub' only %}
        <a class="btn btn-large btn-github" href="{% url 'github_oauth' %}"><i class="fab fa-github"></i> Authorize</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>


