{% extends "base.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
{% endblock %}


{% block content %}

    <div class="container-fluid">

      <div class="row">

        {% if editable %}
        <div class="col-md-3">
          <div class="header-dashboard">
            <h4>Add data sources</h4>
          </div>

          {% include "add_datasource/github.html" %}
          {% include "add_datasource/git.html" %}
          {% include "add_datasource/gitlab.html" %}
          {% include "add_datasource/meetup.html" %}

          <div class="alert alert-info" role="alert">
            It is planned for the future to add more data sources (like Discourse or Slack), but feel free to suggest any other data source option via the feedback button!
          </div>
        </div>
        {% endif %}

        <!-- LIST REPOS SIDE -->
        {% if editable %}
        <div class="col-md-9">
        {% else %}
        <div class="col-md-12">
        {% endif %}
          <div class="container">
              <div class="header-dashboard">
                {% if dashboard %}
                  <div class="row">
                    <div class="col-md-7">
                      <h2>
                        <strong><span id="dash_name">{{dashboard.name}}</span></strong>
                        {% if editable %}
                        <a href="#" id="edit-name"><i class="far fa-xs fa-edit"></i></a>
                        {% endif %}
                      </h2>
                    </div>
                    <div class="col-md-5">
                      <div class="btn-group btn-group-lg">
                        <a id="open-kibana"
                          class="btn btn-primary {% if repositories|length == 0 or not editable %}disabled{% endif %}"
                          href="/dashboard/{{dash_id}}/kibana"
                          target="_blank">
                          <i class="fa fa-chart-bar"></i> Private dashboard
                        </a>

                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                          id="btn-public-link"
                          class="btn btn-primary {% if repositories|length == 0 %}disabled{% endif %}">
                          <i class="fa fa-chart-bar"></i> Public dashboard
                        </button>

                        <div class="dropdown-menu">
                          <form class="px-3 py-2">
                            <div class="form-group">
                              <a id="open-kibana-public"
                              class="btn btn-primary btn-block {% if repositories|length == 0 %}disabled{% endif %}"
                              href="{{public_link}}"
                              target="_blank">
                              Open
                              </a>
                            </div>
                            <div class="form-group">
                              <label for="url-public-link-kibana">Share:</label>
                              <div class="input-group">
                                <input type="text" class="form-control" id="url-public-link-kibana" value="{{public_link}}" readonly>
                                <div class="input-group-append">
                                  <button class="btn btn-outline-primary" type="button" id="copy-share-link-kibana" data-toggle="tooltip" data-placement="bottom" title="Copy"><i class="far fa-copy"></i></button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                {% else %}
                  <h3>Dashboard not found</h3>
                {% endif %}
              </div>
            <div class="body-dashboard pt-2">
              {% if dashboard %}
              <div>


                {% include "project_header.html" %}


                {% include "repositories_table.html" %}


              </div>
              {% endif %}
          </div>
        </div>

        </div>
      </div>
    </div>

    <div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logModalLabel">Data source logs</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="logger-body">
              <pre class="logger"><code class="log-content">Loading...</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>



{% endblock %}


{% block javascript %}
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<!-- DataTables JavaScript -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/dashboard.js' %}" charset="utf-8"></script>
{% endblock %}
