{% extends "base.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}


{% block content %}

    <div class="container-fluid">

        

             
      <div class="row">

        <!-- ADD REPOS SIDE -->
        {% if editable %}
        <div class="col-md-3">
            <div class="header-dashboard">
                  <h4>Add repositories</h4>
              </div>
          <!-- GITHUB CARD -->
          <div class="card shadow-sm">
            <div class="card-header">
              <div class="title">GitHub</div>
            </div>
            <div class="card-body">

              <form action="" method="post" id="gh_add">
                {% csrf_token %}
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" id="gh_data" name="data" placeholder="user or user/repository or url">
                    <input type="hidden" name="backend" value="github">
                    <input type="hidden" name="action" value="add">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="submit">Add</button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
            
            <div class="card-footer">
              <span class="text-muted">This will add to the analysis:</span>
              <ul>
                <li class="text-muted" style="list-style: none;">GitHub repositories</li>
                <li class="text-muted" style="list-style: none;">Git repositories</li>
              </ul>
            </div>
            
          </div>
          <!-- end GITHUB CARD -->

          <!-- GIT CARD -->
          <div class="card shadow-sm">
            <div class="card-header">
              <div class="title">Git</div>
            </div>
            <div class="card-body">

              <form action="" method="post" id="git_add">
                {% csrf_token %}
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" id="git_data" placeholder="git repository url" name="data">
                    <input type="hidden" name="backend" value="git">
                    <input type="hidden" name="action" value="add">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="submit">Add</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- end GIT CARD -->

          <!-- GITLAB CARD -->
          <div class="card shadow-sm">

            <div class="card-header">
              <div class="title">
                <b>
                  Gitlab
                </b>
              </div>
            </div>

            <div class="card-body">

              <form action="" method="post" id="gl_add">
                {% csrf_token %}
                <div class="form-group">
  
                  <div class="input-group">
                    <input type="text" class="form-control" id="gl_data" name="data" placeholder="user or user/repository or url">
                    <input type="hidden" name="backend" value="gitlab">
                    <input type="hidden" name="action" value="add">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="submit">Add</button>
                    </div>
                  </div>
                </div>
              </form>


            </div>

            
            <div class="card-footer">
                <span class="text-muted">This will add to the analysis:</span>
                <ul>
                  <li class="text-muted" style="list-style: none;">Gitlab repositories</li>
                  <li class="text-muted" style="list-style: none;">Git repositories</li>
                </ul>
            </div>
            
  

          </div>
          <!-- end GITLAB CARD -->
  
        </div>
        {% endif %}

        <!-- LIST REPOS SIDE -->
        {% if editable %}
        <div class="col-md-9">
        {% else %}
        <div class="col-md-12">
        {% endif %}
          <div class="container">
              <div class="header-dashboard">
                {% if dashboard %}
                  <div class="row">
                    <div class="col-md-8">
                      <h2><strong><span id="dash_name">{{dashboard.name}}</span></strong></h2>

                      {% if editable %}
                      <a href="#" id="edit-name"><i class="far fa-edit"></i> Change name</a>
                      {% endif %}
                    </div>
                    <div class="col-md-4">
                      {% if editable %}
                      <a id="open-kibana" class="btn btn-success" href="/kibana/{{dash_id}}" target="_blank">
                        Open Kibana
                      </a>
                      <a id="create-panels-kibana" class="btn btn-success" href="/dashboard/{{dash_id}}/create-panels">
                        Import panels
                      </a>
                      {% endif %}
                    </div>
                  </div>
                {% else %}
                  <h3>Dashboard not found</h3>
                {% endif %}
              </div>
            <br>
            <div class="body-dashboard pt-2">
              {% if dashboard %}
              <div>
                <h5>
                  <strong><span id="num-repos-filter">0</span> repositories found</strong>

                  <span class="dropdown backend-filters">
                    <button class="badge btn btn-primary dropdown-toggle" type="button" id="btn-filter-backend" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </button>
                    <div class="dropdown-menu" aria-labelledby="btn-filter-backend">
                      <a class="backend-item dropdown-item active" data-filter-type="backend" data-filter="any" href="#">Any</a>
                      <a class="backend-item dropdown-item" data-filter-type="backend" data-filter="git" href="#">Git</a>
                      <a class="backend-item dropdown-item" data-filter-type="backend" data-filter="github" href="#">GitHub</a>
                      <a class="backend-item dropdown-item" data-filter-type="backend" data-filter="gitlab" href="#">GitLab</a>
                    </div>
                  </span>

                  <span class="dropdown status-filters">
                    <button class="badge btn btn-primary dropdown-toggle" type="button" id="btn-filter-status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </button>
                    <div class="dropdown-menu" aria-labelledby="btn-filter-backend">
                      <a class="backend-item dropdown-item active" data-filter-type="status" data-filter="all" href="#">All</a>
                      <a class="backend-item dropdown-item" data-filter-type="status" data-filter="pending" href="#">Pending</a>
                      <a class="backend-item dropdown-item" data-filter-type="status" data-filter="running" href="#">Running</a>
                      <a class="backend-item dropdown-item" data-filter-type="status" data-filter="completed" href="#">Completed</a>
                      <a class="backend-item dropdown-item" data-filter-type="status" data-filter="error" href="#">Error</a>
                    </div>
                  </span>

                </h5>
                <table class="table table-hover repos-table table-responsive">
                  <thead>
                    <tr>
                      <th scope="col" class="text-muted">Status</th>
                      <th scope="col">Repository</th>
                      <th scope="col">Creation</th>
                      <th scope="col">Duration</th>
                      <th scope="col">Logs</th>
                      {% if editable %}
                      <th scope="col">Delete</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                  {% for repo in repositories %}
                    <tr class="repo-entry" id="repo-{{repo.id}}" data-backend="{{repo.backend}}" data-status="">
                      <td class="repo-status">
                        <div class="spinner-border spinner-border-sm" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </td>
                      <td class="repo-url">{{ repo.url }}</td>
                      <td>
                        <i class="fas fa-calendar-alt text-muted"></i> 
                        <span class="repo-creation">
                            <div class="spinner-border spinner-border-sm" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                        </span>
                      </td>
                      <td>
                        <i class="fas fa-stopwatch text-muted"></i>
                        <span class="repo-duration">
                          <div class="spinner-border spinner-border-sm" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </span>
                      </td>
                      <td>
                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#logModal" data-repo="{{repo.id}}">Logs</button>
                      </td>
                      {% if editable %}
                      <td>
                          <button type="button" class="btn btn-outline-danger btn-delete" data-repo="{{repo.id}}">Delete</button>
                      </td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              {% endif %}
          </div>
        </div>
              
        </div>
      </div>
    </div>

    <div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logModalLabel">Repository logs</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="logger-body">
              <pre class="logger"><code class="log-content">Loading...</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
      
      

{% endblock %}


{% block javascript %}
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'>
</script><script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="{% static 'js/dashboard.js' %}" charset="utf-8"></script>
{% endblock %}
