{% extends "base.html" %}
{% load static %}

{% block css%}
{% endblock %}


{% block content %}
  <section class="header">
    <!-- Container for ALPHA version -->
    <div class="container pt-3" id="alert-alpha">
      <div class="alert alert-warning" role="alert">
        This is an alpha version of Cauldron. All data can be removed without prior notice. Feedback is welcome!
      </div>
    </div>
    <!-- END container for ALPHA version -->
    <div class="py-5 container-fluid h-100 d-inline-block">
      <div class="row justify-content-lg-center align-items-center">
        <div class="col-lg-5 text-center text-lg-left">
          <h1 class="font-weight-bold my-4">Level Up Software Development Analytics</h1>
          <p class="mb-3">Cauldron allows project managers, analysts, and developers to understand more about the community and processes involved in software development</p>
          <form action="/dashboard" method="post" class="create-dashboard">
            {% csrf_token %}
            <button type="submit" class="btn btn-light btn-lg my-3" role="button">Analyze a Project</button>
          </form>
        </div>
        <div class="col-lg-4 text-lg-left">
          <img class="img-fluid" src="{% static 'img/three_images.png' %}" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="features">
    <div class="container-fluid">
      <div class="row justify-content-lg-center">
        <div class="col-lg-3 mb-3">
          <img class="img-fluid mb-3" src="{% static 'img/page_project_shadowed.png' %}" alt="Project page">
          <h2>All-in-one</h2>
          <hr>
          <p>Cauldron is a SaaS analytics solution that allows users to aggregate information from multiple collaboration platforms as different types of data sources. Because software development is more than just code commits in a single repository, Cauldron allows users define which data sources to include in any analysis.</p>
          
        </div>
        <div class="col-lg-3">
          <img class="img-fluid mb-3" src="{% static 'img/contributors.png' %}" alt="Contributors graph">
          <h2>Shareable Dashboards</h2>
          <hr>
          <p><em>"Collecting data is only the first step toward wisdom, but sharing data is the first step toward community"</em> (<a href="https://en.wikipedia.org/wiki/Henry_Louis_Gates_Jr." target="_blank" rel="noopener noreferrer">Henry Louis Gates, Jr.</a>). Cauldron allow users to share reports and metrics about software development.</p>
        </div>
        <div class="col-lg-3">
          <img class="img-fluid mb-3" src="{% static 'img/gitlab_cauldron_repo.png' %}" alt="Cauldron Gitlab source code">
          <h2>Free Open Source Software</h2>
          <hr>
          <p>Cauldron is free, open source software to allow users, contributors, and maintainers to use, study, share, and improve the software openly.</p>
          
        </div>
      </div>
    </div>
  </section>
  <section class="technical-details">
    <div class="container-fluid">
      
      <div class="row justify-content-center mb-3">
        
        <div class="col-sm-4">
          <h2 class="mb-3 text-center">Supported datasources</h2>
          <div class="row">
            <div class="col-lg-6">
              <div class="media">
                <div class="align-self-start mr-3"><i class="fas fa-code"></i></div>
                <div class="media-body">
                  <p class="font-weight-bold mb-1">Source Code Management</p>
                  <p class="text-justify">Git</p>
                </div>
              </div>
              <div class="media">
                <div class="align-self-start mr-3"><i class="fas fa-bug"></i></div>
                <div class="media-body">
                  <p class="font-weight-bold mb-1">Issues tracking</p>
                  <p class="text-justify">GitHub Issues, GitLab Issues</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="media">
                <div class="align-self-start mr-3"><i class="fas fa-code-branch"></i></div>
                <div class="media-body">
                  <p class="font-weight-bold mb-1">Source Code Review</p>
                  <p class="text-justify">GitHub Pull Requests, GitLab Merge Requests</p>
                </div>
              </div>
              <div class="media">
                <div class="align-self-start mr-3"><i class="fas fa-users"></i></div>
                <div class="media-body">
                  <p class="font-weight-bold mb-1">Meetings Management</p>
                  <p class="text-justify">Meetup</p>
                </div>
              </div>
            </div>
          </div>          
        </div>

        <div class="col-sm-4 text-center">
          <h2>Popular Dashboards</h2>
          <p class="text-justify">
            <ul class="list-unstyled">
              <li class="mb-1">
                <a target="_blank" rel="noopener noreferrer" class="font-weight-bold"  href="https://cauldron.io:443/kibana/?jwtToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1c2VyIjoicHVibGljZGFzaGJvYXJkMzcwIiwicm9sZXMiOiJyb2xlZGFzaGJvYXJkMzcwIn0.jV7ZFvGcPFV6ZbUhnc9bPSIzhD2SKe2izJULF30EpZTfETKR4hX3BiasbWa0dRUeyjkHxxRy_kn_nYnDIp9zPOPQqlLxh2B9VT75zT0FVkjdRdz6fuqtQCxdJk6b5cJ5i7KzhgIDzgt-vSCxLXc0RnrsaK_WMLMSCtP127GHBi9tdEySeswJYexVfLPDwKE3X1h2MQh0T4DUsb9LXqlC5lhI4R6AtsuE0dd6nAAlvJdT7kYtnynsISeA27rgy8F9K3oEeBV6ST2yTZNaGPhTn--eGKulmaa6z7AJ-CXfzrkq5OrbDiUMLS0gqF_Vr7V-Cw2Fy-oREIiS_MbCiMe58MA8QySWcbxYio5iVaF2TbADg74xlsTEzHgoPue-4Mwf8uFglHJgw-MwSMCEA6CKdJNb683Hpil7NJwwK5w7cJKqX9w5p2lOfwQpglzPaAmz__PThumXqxNMaVsGQk8hcmEV4vdjG_-Z4K5jepF-9fD-VtmQX5BF-TxcFBHLB08T3rxs08yb4SbMdC5SlFuoTekGOCoOAe9Fqs5jdLzlVb5Ea0GWAf5T9HiUb4Zuw2ADo5MQCwkdSX_NAHaOZm6uP3XXjxnDCoj3IRAWTpKGQOLmhXJKICFB8WnR0HBUvfsf5ptZKP6Rw9grGI-JS2mowuUbC32ttmn6uuAQUnkFlDE&security_tenant=global">Linux Kernel</a>
              </li>
              <li class="mb-1">
                <a target="_blank" rel="noopener noreferrer" class="font-weight-bold"  href="https://cauldron.io:443/kibana/?jwtToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1c2VyIjoicHVibGljZGFzaGJvYXJkMzcxIiwicm9sZXMiOiJyb2xlZGFzaGJvYXJkMzcxIn0.eVp8KYaZ_g3ZNkivr1V85BwGEU7i7KNb4ofS93d1PuxdpoyhIjGCD5u-yu-YpV52b-nDYCdsVG1MF4kritEIPXhG9QzN3PuWgOfBIsNY6T8UwCnz6bLOit7U7n3Rlf5KNAFcugC2EGJ4n9I4Nca_EkyaXZHfgLU3gGZWGA4P-q9GzvPlZNT4-UA5PvvkXPVmN0bTcIQKBluxMmRE9KEdX7nHGT1xZRwlcWwieZTvefZdMXZK45lkVlg7iLtF05dvSf4LvICHMYRURNmzdSN2UCfEni7wyqwK_e5pQcWPeJ-wErMB-MD9BebNt3-Teeh_tFAZYpn2QJxI6kY_hyV3_r0OQdJx0htIPsPDqPB5BHtUIDoPwSX5IpTVWTODdzcuBo7MY1XT4I3knd0CXjtfUlY4jBBG72PaciOr7ltnkOnl1VtqDQzsKYgLKUUh02UnFx4g2IlXfNZaBszrrpiuy_45-gvQ3KBOScvDArXgvDNU7NaAT0I94C1ZkSs91Fr1uacgMplzTR5klZvydiuNJ_Gptn1ggoTI_SzKN8SMBxDmW5oOX0vNGMva-t9VBXxHASbU4ns-qay4UY8FARFHhf9Qf5TyY8MHcOAIMCpL3VtkxNg1tvBhPKCGp3kmFfkCMShdQtbGygF7LThUVI3Hugr0RUPjvKJBbt9ImXuJ1R0&security_tenant=global">Kubernetes</a>
              </li>
              <li class="mb-1">
                <a target="_blank" rel="noopener noreferrer" class="font-weight-bold"  href="https://cauldron.io:443/kibana/?jwtToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1c2VyIjoicHVibGljZGFzaGJvYXJkMzczIiwicm9sZXMiOiJyb2xlZGFzaGJvYXJkMzczIn0.Y8STfmu62bad-jUCgXtmIq3BofCDVf-Hm3XGYb67BuYzJNXrVJ9fT70Mp6JgzuYj7t0OE-RHI6_uRRaAoYJYZr9iCZAcdshvATq_OEdXcO8BkYQuUL7l1UknHzGKPn1NNPXqf8Nj4KXeEhr_tcJGAXo-RVumtMdW3UorAk86rIu34DS_BntE8LCiA7dmgDXFsIHiSw-1YjiXdraW4UX6AlrtNpEnYDYe2BcxHHWRPCXePy9-oBgPSvjFGcFmNQ6jhYFyEA34U4KMHs4ilV4rESumqR3OxDS9ZPLf1vkujAhOiHY1gnFWsJQuM32rirvyIGpHx1GchgTSGQJtYcWx9y1PVRW66gW3W28bwo2BNfXlB0i_J43or7F28fu19UInFuGf_iIVaCqxGnkBaVw8_4bciQgYBNR8vieCw3fL7Oytm2N6QJs6mWE4zNg7sG9OyKkGYHgXGcdL8WXM6uFneQQPmQX9d_T4O6uu-Z39a-oUmpRyiGMTBRygNG2o7d-Mlm7Hwl-qIep_cN7JFa24Khbq3vkNIosJ_1OL6WVPQzcbaRlh94PBcV6IDBNz2iLIm4qfAl9kx1cgY-u2UBPGKyqKDyBWQLVY8M1YgJQZ7p7xq82T-a4sLK4yvmhHDiNuvLbytzbjHnjWMU6It-VqPCwIM4z-X7ikwEAJgI4MLxg&security_tenant=global">Visual Studio Code</a>
              </li>
              <li class="mb-1">
                <a target="_blank" rel="noopener noreferrer" class="font-weight-bold"  href="https://cauldron.io:443/kibana/?jwtToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1c2VyIjoicHVibGljZGFzaGJvYXJkMzc0Iiwicm9sZXMiOiJyb2xlZGFzaGJvYXJkMzc0In0.gVt7v49-xRtDcUdzBYy_bM44MtYufvgIDD0pFthzPpdhUT-Xso9MTHcd0OKmLF0AgpyZcBFCUKFztNWTi1GLwBZGarV4cHqSByT_w3UGpNYNjkDeG3f6vr0cmRDOxtxvP7GtjEflBXQdfwpqoi6M-mzlZNDIUmiHbDtWeLpu2l8yxEfH5gxrO0qDlEEqgAOQK_ZkAYpAui0I9_vZIjZLqruRodYEFZ6uZbc9zYOryJ7dgilSPoxoYj1zNH5ep1UU0ekdHdiDtjGq6SKDCGsLJHbQXaoHUU76qLlgi50_9_eV24wNnE-lz6d81-6x88kLYKY6kB2E5kinhFT20hwLXSrNGT2WTWPRJ41h0CpTQbX65jnFsZq-7qY1KZBJZQjkPLNADyG9vu_Q0loHOGLjApHXiDetmEWkBeFOlfScG7n6M4peG2un0QaZRFa15f_AoMJU-wxsvUHuOjLi3g0mvX_o8du_--ImCYixZLD2ZABAQhkTI-KbBuJrSqDJOT1r4MLL-_3EK0Zql_G6XfDDdcn053JuSv0PpRUMtF2Rle5eE1LJP9gS7OeGjUtjwz-oskopmXXDBYJwLBSQcOPWfBChk0Qz37mRCs9vftZcTWCO_dgtP5zNgoAdCbzEILA1NG9xw350Ez2wejuZg0FW1K7HRYzwOjqibz0LliiC7lo&security_tenant=global">Ansible</a>
              </li>
              <li class="mb-1">
                <a target="_blank" rel="noopener noreferrer" class="font-weight-bold"  href="https://cauldron.io:443/kibana/?jwtToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1c2VyIjoicHVibGljZGFzaGJvYXJkMzcyIiwicm9sZXMiOiJyb2xlZGFzaGJvYXJkMzcyIn0.ARVP1H6gEnorjtQ1PN1GXG--rLjh8DM3R3J-ktUYclkTbqTB9y-7_TXcCZqwzTIp5AZE6MEw97Zg3glzRZ3EQGvp8qoBFs0EQSrwv4EsJruo81xN_uwhZ4q82EFZilAspoVx1cSGzgCDFKPeeBktpl3p-ZLOLsAtaJVs5kxLY0hC5B6lfkcaBBagKgYD9JuFIyp8sABDXaB_6ftbuJAJ_Gx0F6_98T7Vle1i9qqAv7rmx8L3gNV0eS3F3cVDVBvR1n_OH3QucoKJxZV3rdDkYX1nT0WnTNA58gEotFL7IVr9TDkSZlKpWsN_cTTUSxkJhCIzcS2v-B4orC2ImCd6YyR3-81BHJoHysmdLyc5yOa8YxntfheZlxBJc3QOnCLotd2Yjo6P1bUY92FQeugVA3hsMXEgVrsVkawkKTUL0_ZU-OvrfT-v_DlMuXVJxR8JxIN1foi4E3-GBaxm_ldLO46OP4CaC4Ijuu9x__UVNZu3eDeoVWf-rExkjUQzJg4cepVgJzyLAsRtq5E8p8y6Ys3ZqP9VqhLUdnrrTjTCkVI2t8iBWLVsBHhY-VqUXNcbVklRPRDzhfK_jiR7k_VSYpWt14BEtu5I_1jaK3ecQt0on1hBMe8fvbLxvJJVwiDGxf0lip_QB_LoIE9SCOEE2vM6Iyf9N5TdIxfRf4qg3FQ&security_tenant=global">CHAOSS</a>
              </li>
            </ul>
          </p>
        </div>
        
      </div>
    </div>
  </section>

  <section class="start-now">
    <div class="container-fluid">
      <div class="row justify-content-center text-center">
        <form action="/dashboard" method="post" class="create-dashboard">
          {% csrf_token %}
          <h2 class=>Start analyzing!</h2>
          <button type="submit" class="btn btn-primary btn-lg my-3" role="button">Analyze a Project</button>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
