{% extends "base.html" %}
{% load static %}

{% block css%}
{% endblock %}


{% block content %}
    <!-- Container for ALPHA version -->
    <div class="container" id="alert-alpha">
      <div class="alert alert-warning" role="alert">
        This is an alpha version for the Cauldron. All data can be removed without prior notice. Feedback is welcome, click on the bottom of the webpage.
      </div>
    </div>
    <!-- END container for ALPHA version -->

    <div class="container">
        <form action="/new-dashboard" method="post" id="create-dashboard">
          {% csrf_token %}
          <div class="form-group">
            <div class="input-group">
              <button class="btn btn-primary" type="submit">Create a dashboard</button>
            </div>
          </div>
        </form>
  
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow-sm mb-3">


            <div class="card-header">
              <h4 class="font-weight-normal">My dashboards</h4>
            </div>


            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Status</th>
                      <th scope="col">Repositories</th>
                      <!--<th scope="col">Author</th>-->
                    </tr>
                  </thead>
                  <tbody>
                    {% for db in your_dashboards %}
                    <tr>
                      <td><a href="/dashboard/{{db.id}}">{{db.name}}</a></td>
                      <td>{{db.status}}</td>
                      <td>{{db.completed}}/{{db.total}}</td>
                      <!--<td>{{db.creator}}</td>-->
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
{% endblock %}