<div class="card shadow-sm">
  <div class="card-header">
    <div class="title">
      <i class="fab fa-meetup"></i><strong> Meetup</strong>
    </div>
  </div>
  <form action="" method="post" id="meetup_add">
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" id="meetup_data" name="data" placeholder="group url or group id or event url">
          <input type="hidden" name="backend" value="meetup">
          <input type="hidden" name="action" value="add">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Add</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <a data-toggle="collapse" href="#advanced-meetup" role="button" aria-expanded="false" aria-controls="advanced-meetup">
          Advanced
        </a>
      </div>
      <div class="form-group collapse" id="advanced-meetup">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" name="events" class="custom-control-input" id="checkbox-meetup-events" checked disabled>
          <label class="custom-control-label" for="checkbox-meetup-events">Group events</label>
          <span data-toggle="tooltip" style="float:right" title="This will analyze Meetup events">
            <i class="fas fa-info-circle"></i>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
