<div id="overview" class="mb-4 tab-pane fade show active" role="tabpanel" >
  <div class="row py-4 border text-center">
    {% if has_git %}
    <div class="col-md">
      <p class="font-weight-bold text-muted mb-3"># Commits <i class="far fa-question-circle text-primary" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Number of commits, ignoring pull/merge request commits. <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/overview/commits.md'>Read more</a>"></i></p>
      <p class="h5 font-weight-bold text-gray-800"><span id="number_commits_range"> {{ metrics.commits_range }}</span></p>
    </div>
    {% endif %}
    {% if has_gitlab or has_github %}
    <div class="col-md border-left border-right">
      <p class="font-weight-bold text-muted mb-3"># Pull requests <i class="far fa-question-circle text-primary" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Number of new Pull/Merge Requests in a period of time. <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/overview/pull-merge-requests-created.md'>Read more</a>"></i></p>
      <p class="h5 font-weight-bold text-gray-800"><span id="number_reviews_opened"> {{ metrics.reviews_opened }}</span></p>
    </div>
    <div class="col-md border-left border-right">
      <p class="font-weight-bold text-muted mb-3">Median review duration <i class="far fa-question-circle text-primary" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Median time to merge a pull request or merge request (reviews merged in the period defined by the user that were opened at any time). <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/overview/median-review-duration.md'>Read more</a>"></i></p>
      <p class="h5 font-weight-bold text-gray-800"><span id="number_review_duration"> {{ metrics.review_duration }}</span> days</p>
    </div>
    <div class="col-md border-left border-right">
      <p class="font-weight-bold text-muted mb-3"># Issues created <i class="far fa-question-circle text-primary" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Number of created issues in a period of time. <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/overview/issues-created.md'>Read more</a>"></i></p>
      <p class="h5 font-weight-bold text-gray-800"><span id="number_issues_created_range"> {{ metrics.issues_created_range }}</span></p>
    </div>
    <div class="col-md border-left border-right">
      <p class="font-weight-bold text-muted mb-3"># Issues closed <i class="far fa-question-circle text-primary" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Number of closed issues in a period of time. <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/overview/issues-closed.md'>Read more</a>"></i></p>
      <p class="h5 font-weight-bold text-gray-800"><span id="number_issues_closed_range"> {{ metrics.issues_closed_range }}</span></p>
    </div>
    <div class="col-md border-left border-right">
      <p class="font-weight-bold text-muted mb-3">Median time to close <i class="far fa-question-circle text-primary" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Median time to close issues (issues closed in the period defined by the user that were opened at any time). <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/overview/median-time-to-close.md'>Read more</a>"></i></p>
      <p class="h5 font-weight-bold text-gray-800"><span id="number_issues_time_to_close"> {{ metrics.issues_time_to_close }}</span> days</p>
    </div>
    {% endif %}
    {% if has_stack %}
    <div class="col-md border-left border-right">
      <p class="font-weight-bold text-muted mb-3"># Questions <i class="far fa-question-circle text-primary" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Number of StackExchange questions in a period of time."></i></p>
      <p class="h5 font-weight-bold text-gray-800"><span id="questions_stackexchange"> {{ metrics.questions_stackexchange }}</span></p>
    </div>
    <div class="col-md border-left border-right">
      <p class="font-weight-bold text-muted mb-3"># Answers <i class="far fa-question-circle text-primary" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Number of StackExchange answers in a period of time."></i></p>
      <p class="h5 font-weight-bold text-gray-800"><span id="answers_stackexchange"> {{ metrics.answers_stackexchange }}</span></p>
    </div>
    {% endif %}
  </div>
  <div class="row">
    {% if has_git %}
    <div class="col-lg-6">
      <div id="chart-commits-overview"></div>
      <div class="card-body chart-description" style="display: none;">
        <h5 class="card-title">Number of commits</h5>
        <p class="card-text">Number of commits is the most common measure of activity in a git repository. To compute it, we're considering all commits in all branches of all repositories in the report, excluding empty commits. Each commit represents a change to the source code, maybe touching several files. However, commits may be very different in size, complexity and usefulness to the report, so this number should only be considered as an indicator, among others.</p>
        <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/commits-chart.md" class="card-link">Read more</a>
      </div>
    </div>
    {% endif %}
    {% if has_git or has_github or has_gitlab or has_meetup %}
    <div class="col-lg-6">
      <div id="chart-people-overview"></div>
      <div class="card-body chart-description" style="display: none;">
        <h5 class="card-title">Number of authors</h5>
        <p class="card-text">Number of authors gives an idea of the size of the active community for a report. In this case, we're measuring, for each week in the chart, the number of different identities that authored at least one commit, or that submitted issues or reviews (pull or merge requests) to any repository of the report during that week. Although this is usually a good indicator of people who are active in the project, it is important to notice that, during any given week, active developers may be busy with some other stuff, thus not appearing in this chart. Also, casual contributors (such as somebody submitting a bug report but not really engaged with the project) appear in the chart. People taking care of important tasks, such as writing documentation, may also be reflected in this chart, or not, depending on the repositories included in the report, and how the project deals with those tasks.</p>
        <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/overview/authors-evolution.md" class="card-link">Read more</a>
      </div>
    </div>
    {% endif %}

    {% if has_gitlab or has_github %}
    <div class="col-lg-6">
      <div id="chart-issues-overview"></div>
      <div class="card-body chart-description" style="display: none;">
        <h5 class="card-title">Number of issues created/closed</h5>
        <p class="card-text">Number of issues shows activity in the issue tracking system, usually including bug reports, feature requests, and other tasks that are tracked with issues (tickets). We measure, for each week, the number of issues that were opened (created) or closed during it. Not only the absolute numbers, but also the relationship between open and closed issues is important in this chart: if many more issues are consistently being opened than closed, the report is not dealing with all the new stuff that is entering the issue tracking system.</p>
        <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/issues-created-closed.md" class="card-link">Read more</a>
      </div>
    </div>
    <div class="col-lg-6">
      <div id="chart-pull-requests-overview"></div>
      <div class="card-body chart-description" style="display: none;">
        <h5 class="card-title">Number of reviews started/closed</h5>
        <p class="card-text">Number of reviews shows activity related to pull requests (GitHub) or merge requests (GitLab). This chart shows, for each week, the number of merge or pull requests that were submitted (started), and decided (closed). Pull and merge reviews are the mechanism used for reviewing code changes that are proposed to enter repositories. Closing a pull or merge request can be done by accepting the change, or by declining it. As with issues, a larger number of started reviews than closed reviews means that the report is not coping with all proposals for code change that are being submitted.</p>
        <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/reviews-created-closed.md" class="card-link">Read more</a>
      </div>
    </div>
    {% endif %}

    {% if has_stack %}
    <div class="col-lg-6">
      <div id="questions_answers_stackexchange_bokeh"></div>
      <div class="card-body chart-description" style="display: none;">
        <h5 class="card-title">Number of questions/answers</h5>
        <p class="card-text">Number of questions and answers at StackExchange shows activity related to the community. This chart shows, in the selected period of time, the number of questions and answers that were performed at StackExchange. A larger number of questions and answers means that the project is having an higher impact in the community.</p>
        <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/reviews-created-closed.md" class="card-link">Read more</a>
      </div>
    </div>
    {% endif %}
  </div>

</div>
