{% extends "cauldronapp/base.html" %}
{% load static %}


{% block css%}

{% endblock %}


{% block content %}
<div class="container-fluid mt-3">
	<h1>Reports</h1>

	<div class="my-3 d-flex justify-content-between border-bottom border-top">

		<div class="top-menu align-middle">
			<ul>
				{% if authenticated %}
				<li>
					<a href="/"
						 {% if request.resolver_match.url_name == 'homepage' or request.resolver_match.url_name == 'user_projects'%}class="active"{% endif %}
					>
						Your reports <span class="badge badge-pill badge-secondary">{{user_projects}}</span>
					</a>
				</li>
				{% endif %}
				<li>
					<a href="/explore"
						 {% if request.resolver_match.url_name == 'explore_projects'%}class="active"{% endif %}
					>
						Explore reports <span class="badge badge-pill badge-secondary">{{total_projects}}</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="form-inline">

			<form method="GET" action="" class="form-inline">
				<div class="dropdown">
					<button class="btn btn-outline-dark dropdown-toggle" style="border: 1px solid #d1d3e2;" type="button" id="dropdownFilterReports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ sort_by.name }}
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownFilterReports">
						<a class="dropdown-item {% if sort_by.key == 'name_asc' %}active{% endif %}" href="{{ request.path }}?sort=name_asc">Name</a>
						<a class="dropdown-item {% if sort_by.key == 'name_desc' %}active{% endif %}" href="{{ request.path }}?sort=name_desc">Name, descending</a>
						<a class="dropdown-item {% if sort_by.key == 'last_created' %}active{% endif %}" href="{{ request.path }}?sort=last_created">Last created</a>
						<a class="dropdown-item {% if sort_by.key == 'oldest_created' %}active{% endif %}" href="{{ request.path }}?sort=oldest_created">Oldest created</a>
						<a class="dropdown-item {% if sort_by.key == 'last_updated' %}active{% endif %}" href="{{ request.path }}?sort=last_updated">Last updated</a>
						<a class="dropdown-item {% if sort_by.key == 'oldest_updated' %}active{% endif %}" href="{{ request.path }}?sort=oldest_updated">Oldest updated</a>
					</div>
				</div>
			</form>

			<form method="GET" action="" class="form-inline ml-md-2">
				<div class="input-group">
					<input class="form-control" name="search" type="text" value="{{ request.GET.search }}" placeholder="Search by name"/>
				</div>
			</form>
		</div>
	</div>

	<div class="row" id="projects-cards">
		<!-- PROJECT CARD-->
		{% if projects_info %}
			{% for project in projects_info %}
				{% include "cauldronapp/projects/project_card.html" %}
			{% endfor %}
		{% endif %}
		<!-- END PROJECT CARD-->
	</div>

  {% if projects_info %}
    {% include "cauldronapp/utils/nav_pagination.html" %}
  {% endif %}

</div>

{% include "cauldronapp/projects/delete_project.html" %}

{% include "cauldronapp/project/share_modal.html" %}

{% endblock %}


{% block javascript %}
<script src="{% static 'js/sparkline.js' %}" charset="utf-8"></script>
<script src="{% static 'js/projects.js' %}" charset="utf-8"></script>

<script>
	{% for project in projects_info %}
		var sparkline_data = {{ project.metrics.sparkline | safe }};
		sparkline.sparkline(document.querySelector(".sparkline-project-{{ project.id }}"), sparkline_data);
	{% endfor %}
</script>

{% endblock %}
