<div class="col-xl-4 col-lg-6" id=project-{{project.id}} data-project-id="{{project.id}}">
  <div class="card mb-4 shadow">
    <!-- Card Header -->
    <div class="card-header d-flex">
      <div class="mr-auto font-weight-bold">
        <a href="{% url 'show_project' project.id %}">{{project.project.name}}</a>
        {% if project.total > 0%}
          <span class="ml-3 shareproject" data-toggle="modal" data-target="#shareModal"
          data-projname="{{project.project.name}}"
          data-projid="{{project.id}}"
          data-projurl="https://{{request.get_host}}{% url 'show_project' project.id %}">
            <button type="button" class="btn btn-sm px-1 py-0 btn-outline-success"
             data-toggle="tooltip" title="Share options">
            <i class="fas fa-share-alt"></i>
            </button>
          </span>
        {% endif %}
      </div>
      <div id="spinner-{{project.id}}" class="text-muted" style="display: none;" data-toggle="tooltip" data-placement="top" title='Analyzing 0 repositories'>
        <span class="mr-1">Updating</span> <span class="spinner-border spinner-border-sm"></span>
      </div>
      {% if project.project.creator == request.user %}
      <div class="dropdown no-arrow">
        <a id="dropdown{{project.id}}" class="dropdown-toggle px-2 ml-3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fe"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdown{{project.id}}">
          <div class="dropdown-header">Options</div>
          <div class="dropdown-item"><a href="{% url 'show_project' project.id %}"><i class="fas fa-cog"></i> Report</a></div>
          {% if project.total > 0%}
          <div class="dropdown-item"><a href="{% url 'open_workspace' project.id %}" target="_blank" rel="noopener noreferrer"><i class="fa fa-wrench"></i> Data Workspace</a></div>
          <div class="dropdown-item"><button type="button" onclick="refreshProjectDatasources(this, {{project.id}})"role="button" class="btn btn-sm btn-icon-split btn-outline-success {% if project.total == 0 %} disabled{% endif %}" {% if project.total > 0 %}{% endif %}><span class="icon"><i class="fas fa-sync-alt"></i></span><span class="text">Refresh Data</span></button></div>
          {% endif %}
          <div class="dropdown-divider"></div>
          <div class="dropdown-item"><button type="button" data-toggle="modal" data-target="#modal-delete-project" data-project-id="{{project.id}}" role="button" class="open-deleteProjectModal btn btn-sm btn-outline-danger btn-icon-split"><span class="icon"><i class="fas fa-trash-alt"></i></span><span class="text">Remove Report</span></button></div>
        </div>
      </div>
      {% endif %}
    </div>
    <!-- ./card header -->
    <!-- card Body -->
    <div class="card-body">

      <div class="row">
        <div class="col d-flex justify-content-start">
          <strong class="pr-2">Data sources</strong>
          {% if project.git %}
          <div class="px-1">
            <i class="fab fa-git-square"></i>
            <span id="project-{{project.id}}-git">{{project.git}}</span>
          </div>
          {% endif %}
          {% if data_sources_enabled.github and project.github%}
          <div class="px-1">
            <i class="fab fa-github"></i>
            <span id="project-{{project.id}}-github">{{project.github}}</span>
          </div>
          {% endif %}
          {% if data_sources_enabled.gitlab and project.gitlab%}
          <div class="px-1">
            <i class="fab fa-gitlab"></i>
            <span id="project-{{project.id}}-gitlab">{{project.gitlab}}</span>
          </div>
          {% endif %}
          {% if data_sources_enabled.gnome and project.gnome%}
          <div class="px-1">
            <i class="gnome-icon"></i>
            <span id="project-{{project.id}}-gnome">{{project.gnome}}</span>
          </div>
          {% endif %}
          {% if data_sources_enabled.kde and project.kde%}
          <div class="px-1">
            <i class="kde-icon"></i>
            <span id="project-{{project.id}}-kde">{{project.kde}}</span>
          </div>
          {% endif %}
          {% if data_sources_enabled.meetup and project.meetup%}
          <div class="px-1">
            <i class="fab fa-meetup"></i>
            <span id="project-{{project.id}}-meetup">{{project.meetup}}</span>
          </div>
          {% endif %}
          {% if data_sources_enabled.stack_exchange and project.stackexchange%}
          <div class="px-1">
            <i class="fab fa-stack-exchange"></i>
            <span id="project-{{project.id}}-stack">{{project.stackexchange}}</span>
          </div>
          {% endif %}
        </div>
        <div class="col-auto">
          <svg class="sparkline-project-{{project.id}}" width="200" height="50" viewBox="0 0 200 50" stroke-width="2" stroke="blue" fill="rgba(0, 0, 255, .2)"></svg>
        <span class="tooltip" hidden="true"></span>
      </div>
      </div>

      <hr class="my-2">

      {% if project.total > 0 %}
      <div class="table-responsive">
        <table class="table table-borderless table-sm text-center">
        <thead>
          <tr>
            <th scope="col"></th>
            {% if project.git %}
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Number of commits (Items) and number of authors of those commits">Commits</th>
            {% endif %}
            {% if project.github or project.gitlab or project.kde or project.gnome %}
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Number of issues submitted (Items) and number of submitters (Authors)">Issues</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Number of pull requests and merge requests (Items) and number of submitters (Authors)">Reviews</th>
            {% endif %}
            {% if project.meetup %}
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Number of Meetup events (Items) and number of people involved in events (Authors)">Events</th>
            {% endif %}
            {% if project.stackexchange %}
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Number of questions in StackExchange (Items) and number of authors of those questions (Authors)">Questions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" data-toggle="tooltip" data-placement="top" title="Number of items for each category">Items</th>
            {% if project.git %}
              <td data-toggle="tooltip" data-placement="top" title="Number of commits">{{project.metrics.items.commits}}</td>
            {% endif %}
            {% if project.github or project.gitlab or project.kde or project.gnome %}
              <td data-toggle="tooltip" data-placement="top" title="Number of issues">{{project.metrics.items.issues}}</td>
              <td data-toggle="tooltip" data-placement="top" title="Number of pull requests and merge requests">{{project.metrics.items.reviews}}</td>
            {% endif %}
            {% if project.meetup %}
              <td data-toggle="tooltip" data-placement="top" title="Number of meetup events">{{project.metrics.items.events}}</td>
            {% endif %}
            {% if project.stackexchange %}
              <td data-toggle="tooltip" data-placement="top" title="Number of questions">{{project.metrics.items.questions}}</td>
            {% endif %}
          </tr>
          <tr>
            <th scope="row" data-toggle="tooltip" data-placement="top" title="Number of authors for each category">Authors</th>
            {% if project.git %}
              <td data-toggle="tooltip" data-placement="top" title="Number of commits authors">{{project.metrics.authors.commits}}</td>
            {% endif %}
            {% if project.github or project.gitlab or project.kde or project.gnome %}
              <td data-toggle="tooltip" data-placement="top" title="Number of issue submitters">{{project.metrics.authors.issues}}</td>
              <td data-toggle="tooltip" data-placement="top" title="Number of PRs and MRs submitters">{{project.metrics.authors.reviews}}</td>
            {% endif %}
            {% if project.meetup %}
              <td data-toggle="tooltip" data-placement="top" title="Number of people involved in Meetup events">{{project.metrics.authors.events}}</td>
            {% endif %}
            {% if project.stackexchange %}
              <td data-toggle="tooltip" data-placement="top" title="Number of people asking">{{project.metrics.authors.questions}}</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
      </div>
      {% else %}
      Empty report.
      {% endif %}
      <div class="text-right">
        <span class="text-muted small">Creation date: {{ project.project.created | date:"jS M Y"}}</span>
      </div>

    </div>
    <!-- ./card body -->

  </div>
</div>
