{% extends "cauldronapp/base.html" %}
{% load static %}


{% block css%}

{% endblock %}


{% block content %}
<div class="container-fluid mt-3">
	<h1>Reports</h1>

	<div class="my-3 d-flex justify-content-between border-bottom border-top">

		<div class="top-menu align-middle">
			<ul>
				{% if authenticated %}
				<li>
					<a href="/"
						 {% if request.resolver_match.url_name == 'homepage' or request.resolver_match.url_name == 'user_projects'%}class="active"{% endif %}
					>
						Your reports <span class="badge badge-pill badge-secondary">{{user_projects}}</span>
					</a>
				</li>
				{% endif %}
				<li>
					<a href="/explore"
						 {% if request.resolver_match.url_name == 'explore_projects'%}class="active"{% endif %}
					>
						Explore reports <span class="badge badge-pill badge-secondary">{{total_projects}}</span>
					</a>
				</li>
			</ul>
		</div>

    <form method="GET" action ="" class="form-inline">
        <span class="font-weight-bold d-block mr-2">Search: </span>

        <div class="input-group">
          <input class="form-control" name="search" type="text" value="{{ request.GET.search }}" placeholder="Search..."/>
          <div class="input-group-append">
            <button class="btn btn-outline-dark" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
    </form>
	</div>

	<div class="row" id="projects-cards">
		<!-- PROJECT CARD-->
		{% if projects_info %}
			{% for project in projects_info %}
				{% include "cauldronapp/projects/project_card.html" %}
			{% endfor %}
		{% endif %}
		<!-- END PROJECT CARD-->
	</div>

  {% if projects_info %}
    {% include "cauldronapp/utils/nav_pagination.html" %}
  {% endif %}

</div>

{% include "cauldronapp/projects/delete_project.html" %}

{% include "cauldronapp/project/share_modal.html" %}

{% endblock %}


{% block javascript %}
<script src="{% static 'js/sparkline.js' %}" charset="utf-8"></script>
<script src="{% static 'js/projects.js' %}" charset="utf-8"></script>

<script>
	{% for project in projects_info %}
		var sparkline_data = {{ project.metrics.sparkline | safe }};
		sparkline.sparkline(document.querySelector(".sparkline-project-{{ project.id }}"), sparkline_data);
	{% endfor %}
</script>

{% endblock %}
