{% load cauldron_tags %}

{{debug}}


<div class="table-responsive">
  <table id="repos-table" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Status
          {% get_sorting_link request 'status' as status_link %}
          <a href="?{% url_replace request 'sort_by' status_link %}">
            <i class="{% get_sorting_icon request 'status' %}"></i>
          </a>
        </th>
        <th scope="col">Repository
          {% get_sorting_link request 'kind' as kind_link %}
          <a href="?{% url_replace request 'sort_by' kind_link %}">
            <i class="{% get_sorting_icon request 'kind' %}"></i>
          </a>
        </th>
        <th scope="col">Last refresh
          {% get_sorting_link request 'refresh' as refresh_link %}
          <a href="?{% url_replace request 'sort_by' refresh_link %}">
            <i class="{% get_sorting_icon request 'refresh' %}"></i>
          </a>
        </th>
<!--        <th scope="col">Duration-->
<!--          {% get_sorting_link request 'duration' as duration_link %}-->
<!--          <a href="?{% url_replace request 'sort_by' duration_link %}">-->
<!--            <i class="{% get_sorting_icon request 'duration' %}"></i>-->
<!--          </a>-->
<!--        </th>-->
        <th scope="col"></th>
        {% if editable %}
        <th scope="col"></th>
        <th scope="col"></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for repo in page_obj.object_list %}
      <tr id="repo-{{repo.id}}" data-repo-id="{{repo.id}}">
        <td class="repo-status">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </td>
        <td class="repo-url">
          {% if repo.backend == "GH" %}
          <i class="fab fa-github"></i>
          {% elif repo.backend == "GL" %}
          <i class="fab fa-gitlab"></i>
          {% elif repo.backend == "ME" %}
          <i class="fab fa-meetup"></i>
          {% else %}
          <i class="fab fa-git-square"></i>
          {% endif %}
          {{ repo.as_url }}
        </td>
        <td>
          <i class="fas fa-calendar-alt text-muted"></i>
          <span class="repo-last-update" style="font-size: small;">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
          </span>
        </td>
<!--        <td>-->
<!--          <i class="fas fa-stopwatch text-muted"></i>-->
<!--          <span class="repo-duration" style="font-size: small;">-->
<!--            <div class="spinner-border spinner-border-sm" role="status">-->
<!--              <span class="sr-only">Loading...</span>-->
<!--            </div>-->
<!--          </span>-->
<!--        </td>-->
<!--        <td>-->
<!--          <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#logModal" data-repo="{{repo.id}}">-->
<!--            <i class="fa fa-info"></i> <small>Logs</small>-->
<!--          </button>-->
<!--        </td>-->
        {% if editable %}
        <td>
            <button type="button" class="btn btn-sm btn-outline-danger btn-delete" data-repo="{{repo.id}}">
              <i class="fa fa-trash-alt"></i> <small>Remove</small>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-sm btn-outline-dark btn-reanalyze" data-repo="{{repo.id}}">
              <i class="fa fa-sync"></i> <small>Refresh</small>
            </button>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if page_obj.paginator.count == 0 %}
<div>
    <em>There are no entries for the selected filters</em>
</div>
{% endif %}

{% include "cauldronapp/utils/nav_pagination.html" %}
