<div class="header-project">
{% if project %}
  <div class="d-lg-flex justify-content-between">
    <div class="">
      <div class="row">
        <!-- Project name -->
        <h1 id="project-name-container">
          <span id="project-name">{{project.name}}</span>
          {% if editable %}
          <span class="subtitle"><a href="#" id="rename"><i class="far fa-xs fa-edit"></i></a></span>
          {% endif %}
        </h1>
        <!-- End project name -->
        <!-- Change name form -->
        <div>
          <form class="input-group form-inline" id="change-name" method='post' action="{% url 'rename_project' project.id %}" style="display: none;">
            {% csrf_token %}
            <input type="text" class="form-control" id="new-name" name="name" placeholder="" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="1-32 characters long">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Change</button>
            </div>
          </form>
        </div>
        <!-- End change name form-->
        <!-- Share button -->
        {% if repositories_count > 0 %}
        <span data-toggle="modal" data-target="#shareModal" class="ml-3 shareproject"
          data-projname="{{project.project.name}}"
          data-projid="{{project.id}}"
          data-projurl="https://{{request.get_host}}{% url 'show_project' project.id %}">
          <button type="button" class="btn btn-success"
             data-toggle="tooltip" title="Share report">
            <i class="fas fa-share-alt"></i>
          </button>
        </span>
        {% endif %}
        <!-- End share button -->
        <!-- Twitter notification icon -->
        {% if active_notifications %}
        <i class="fab fa-2x fa-twitter-square ml-3" data-toggle="tooltip" data-html="true" data-placement="top" title="You will have a Twitter notification when the report is ready."></i>
        {% endif %}
        <!-- End Twitter notification icon -->
      </div>
    </div>

    <div class="d-flex align-items-end flex-column">
      <div>
        <h3>Report information</h3>
        <b>Repositories:</b>
        <span id="num-repos">0</span><span id="general-status"><!--This content is generated via JS--></span>
        <div id="ongoing-actions" class="mt-2">

        </div>
      </div>

    </div>

  </div>

  {% if project.repos_running == 0 and project.is_outdated %}
  <div id="project-alert-outdated" class="alert alert-warning alert-dismissible mb-0 mt-1 fade show" role="alert">
    {% if project.last_refresh %}
    Data from some repositories have not been refreshed since {{ project.last_refresh | date:"F d, Y"  }}.
    {% else %}
    Data from some repositories have not been analyzed.
    {% endif %}
    {% if editable %}
    <a type="button" class="btn-reanalyze-all text-primary">
      Refresh all data sources
    </a>
    {% endif %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
{% endif %}
</div>
