<div class="header-project">
{% if project %}
  <div class="d-lg-flex justify-content-between">
    <div class="">
      <div class="row">
        <!-- Project name -->
        <h1 id="project-name-container">
          <span id="project-name">{{project.name}}</span>
          {% if editable %}
          <small><a href="#" id="rename"><i class="far fa-xs fa-edit"></i></a></small>
          {% endif %}
        </h1>
        <!-- End project name -->
        <!-- Change name form -->
        <div>
          <form class="input-group form-inline" id="change-name" method='post' action="{% url 'rename_project' project.id %}" style="display: none;">
            {% csrf_token %}
            <input type="text" class="form-control" id="new-name" name="name" placeholder="" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="1-32 characters long">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Change</button>
            </div>
          </form>
        </div>
        <!-- End change name form-->
        <!-- Share button -->
        {% if repositories_count > 0 %}
        <span data-toggle="modal" data-target="#shareModal" class="ml-3">
          <button type="button" class="btn btn-success"
             data-toggle="tooltip" title="Share project">
            <i class="fas fa-share-alt"></i>
          </button>
        </span>
        {% endif %}
        <!-- End share button -->

        {% if editable %}
          <!-- My workspace -->
          {% if repositories_count > 0 %}
          <div class="ml-3 mb-1">
            <a class="btn btn-icon-split btn-outline-dark"
               data-toggle="tooltip" title="Edit your dashboards in Kibana"
               href="{% url 'open_workspace' project.id %}"
               target="_blank">
               <span class="icon"><i class="fas fa-wrench"></i></span>
               <span class="text">Data Workspace</span>
            </a>
          </div>
          {% endif %}
          <!-- End my workspace -->
          <!-- Add data source -->
          <div class="ml-3 mb-1">
            <button type="button" class="btn btn-icon-split btn-orange mb-sm-1"
                    data-toggle="modal" data-target="#add-datasource-modal">
              <span class="icon"><i class="fa fa-plus"></i></span>
              <span class="text">Add data sources</span>
            </button>
          </div>
          <!-- End add data source -->
          <!-- Compare -->
          {% if projects_compare %}
          <div class="ml-3 mb-1 dropdown show">
            <a class="btn btn-orange dropdown-toggle" href="#" role="button" id="compare-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compare</a>
            <div class="dropdown-menu scrollable-menu" aria-labelledby="compare-dropdown">
              {% for project_compare in projects_compare %}
              <a class="dropdown-item" href="{% url 'compare_projects' %}?projects={{project.pk}}&projects={{project_compare.pk}}" target="_blank">{{ project_compare.name }}</a>
              {% endfor %}
            </div>
          </div>
          {% endif %}
          <!-- End compare -->
          <!-- Refresh all -->
          {% if repositories_count > 0 %}
          <div class="ml-3 mb-1">
            <button type="button" class="btn btn-icon-split btn-orange btn-reanalyze-all">
              <span class="icon" id="reanalyze-all-spinner-dynamic" style="display: none;">
                <div class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </span>
              <span class="icon" id="reanalyze-all-spinner-static">
                <i class="fa fa-sync"></i>
              </span>
              <span class="text">Refresh all data sources</span>
            </button>
          </div>
          {% endif %}
          <!-- End refresh all -->
        {% endif %}
      </div>
    </div>
    <div class="">
      {% if repositories_count > 0 %}
        <h3>Project information</h3>
        <b>Repositories:</b>
        <span id="num-repos">0</span><span id="general-status"><!--This content is generated via JS--></span>
        {% if render_table %}
        <a href="{% url 'show_project' project.id %}">Hide details</a>
        {% else %}
        <a href="{% url 'show_project_repos' project.id %}">Show details</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% if is_outdated %}
  <div class="alert alert-warning alert-dismissible mb-0 mt-1 fade show" role="alert">
    <strong>Data outdated!</strong> Some of the analyzed repositories have not been updated since {{last_refresh|date:'N j, Y'}}. The data could have inconsistencies...
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
{% endif %}
</div>
