{% extends "cauldronapp/base.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}


{% block content %}
    <div class="container-fluid mt-3">
      <div class="alert alert-primary" role="alert">
        We have performed a major update on Cauldron and migrated all data to the latest version. The status of the repositories is set to Error by default. We recommend refreshing your projects.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>


    <div class="container-fluid">

      <div class="p-md-4">
        {% include "cauldronapp/project/project_header.html" %}

        <!-- Check if there are repositories, if not, include a warning -->
        {% if repositories_count > 0%}
          <!-- Table OR visualizations -->
          {% if render_table %}
            {% include "cauldronapp/project/project_repositories.html" %}
          {% else %}
            {% include "cauldronapp/project/project_metrics.html" %}
          {% endif %}
        {% else %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <div class="row">
              {% if editable %}
              <div class="col-sm-10 offset-sm-1">
                <p class="font-weight-bold">Start adding data sources!</p>
                <p>Projects are defined by set of different data sources. To add information include some of them.</p>
              </div>
              {% else %}
              <div class="col-sm-12">
                <p class="font-weight-bold">No repositories found for this project</p>
                <p>The owner of this project has not added repositories yet. Check back later to see if they have been added.</p>
              </div>
              {% endif %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      </div>

    </div>

    {% include "cauldronapp/project/log_modal.html" %}
    {% include "cauldronapp/project/share_modal.html" %}
    <!-- Data source modals -->
    {% include "cauldronapp/project/datasource_modals/global.html" %}
    {% include "cauldronapp/project/datasource_modals/github.html" %}
    {% include "cauldronapp/project/datasource_modals/gitlab.html" %}
    {% include "cauldronapp/project/datasource_modals/git.html" %}
    {% include "cauldronapp/project/datasource_modals/meetup.html" %}
    {% include "cauldronapp/project/datasource_modals/gnome.html" %}

{% endblock %}


{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="{% static 'js/project.js' %}" charset="utf-8"></script>

{% if render_table %}
<script src="{% static 'js/project_table.js' %}" charset="utf-8"></script>
{% else %}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.1.min.js" crossorigin="anonymous"></script>
<script src="{% static 'js/project_metrics.js' %}" charset="utf-8"></script>
{% endif %}

{% endblock %}
