{% load cauldron_tags %}
<div class="d-flex justify-content-between align-items-end">

  <h1>
    {% if editable %}
    <a href="{% url 'show_project_actions' project.id %}">Settings</a> /
    {% endif %}
    Data sources
  </h1>

  <!-- Add data sources button -->
  {% if editable %}
  <button type="button" class="btn btn-icon-split btn-orange mb-2"
          data-toggle="modal" data-target="#add-datasource-modal">
    <span class="icon"><i class="fa fa-plus"></i></span>
    <span class="text">Add data sources</span>
  </button>
  {% endif %}
  <!-- End add data sources button -->
</div>

<p class="mb-4">Check the list of data sources repositories being tracked to collect data for this report. The data sources section allow you to remove or refresh data from repositories, and to check logs of the processes performed to gather the data.</p>

<div class="d-flex justify-content-end mb-1">
  {% if editable %}
  <div class="ml-3">
    <button type="button" class="btn btn-icon-split btn-outline-success btn-reanalyze-all">
      <span class="icon reanalyze-all-spinner-dynamic" style="display: none;">
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </span>
      <span class="icon reanalyze-all-spinner-static">
        <i class="fa fa-sync"></i>
      </span>
      <span class="text">Refresh all data sources</span>
    </button>
  </div>

  <div class="ml-3">
    <button type="button" class="btn btn-icon-split btn-outline-danger btn-delete-repo" data-repo="all">
      <span class="icon"><i class="fa fa-trash-alt"></i></span>
      <span class="text">Remove all</span>
    </button>
  </div>
  {% endif %}
</div>


<div class="table-responsive">
  <table id="repos-table" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Status
<!--          {% get_sorting_link request 'status' as status_link %}-->
<!--          <a href="?{% url_replace request 'sort_by' status_link %}">-->
<!--            <i class="{% get_sorting_icon request 'status' %}"></i>-->
<!--          </a>-->
        </th>
        <th scope="col">Repository
<!--          {% get_sorting_link request 'kind' as kind_link %}-->
<!--          <a href="?{% url_replace request 'sort_by' kind_link %}">-->
<!--            <i class="{% get_sorting_icon request 'kind' %}"></i>-->
<!--          </a>-->
        </th>
        <th scope="col">Last refresh
<!--          {% get_sorting_link request 'refresh' as refresh_link %}-->
<!--          <a href="?{% url_replace request 'sort_by' refresh_link %}">-->
<!--            <i class="{% get_sorting_icon request 'refresh' %}"></i>-->
<!--          </a>-->
        </th>
        <th scope="col"></th>
        {% if editable %}
        <th scope="col"></th>
        <th scope="col"></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for repo in page_obj.object_list %}
      <tr id="repo-{{repo.id}}" class="repo-row" data-repo-id="{{repo.id}}">
        <td class="repo-status">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </td>
        <td class="repo-url">
          <i class="{{repo.backend | backend_fa_icon}}"></i>
          <a href="{{ repo.repository_link }}">{{ repo.datasource_url }}</a>
        </td>
        <td>
          <i class="fas fa-calendar-alt text-muted"></i>
          <span class="repo-last-update" style="font-size: small;">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
          </span>
        </td>
        {% if editable %}
        <td>
            <button type="button" class="btn btn-sm btn-outline-danger btn-delete-repo" data-repo="{{repo.id}}">
              <i class="fa fa-trash-alt"></i> <small>Remove</small>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-sm btn-outline-dark btn-reanalyze" data-repo="{{repo.id}}">
              <i class="fa fa-sync"></i> <small>Refresh</small>
            </button>
        </td>
        {% endif %}
        <td>
            <button type="button" class="btn btn-sm btn-outline-dark btn-details" data-repo="{{repo.id}}">
              <i class="fas fa-info mr-1"></i> <small>Details</small>
            </button>
        </td>
      </tr>
      <tr id="repo-{{repo.id}}-details" class="repo-status-row collapse" data-repo="{{repo.id}}">
        <td colspan="{% if editable %}6{% else %}4{% endif %}">
          <div id="repo-{{repo.id}}-intentions" class="border p-3">

          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if page_obj.paginator.count == 0 %}
<div>
    <em>There are no entries for the selected filters</em>
</div>
{% endif %}

<div class="d-flex flex-row justify-content-center">
    {% include "cauldronapp/utils/nav_pagination.html" %}
</div>
