{% extends "cauldronapp/base.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}


{% block content %}

    <div class="container-fluid">

      <div class="p-md-4">
        {% include "cauldronapp/project/project_header.html" %}

        <!-- Check if there are repositories, if not, include a warning -->
        {% if repositories_count > 0%}
          <!-- Table OR visualizations -->
          {% if render_table %}
            {% include "cauldronapp/project/project_repositories.html" %}
          {% else %}
            {% include "cauldronapp/project/project_metrics.html" %}
          {% endif %}
        {% else %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <div class="row">
              {% if editable %}
              <div class="col-sm-10 offset-sm-1">
                <p class="font-weight-bold">Start adding data sources!</p>
                <p>Projects are defined by set of different data sources. To add information include some of them.</p>
              </div>
              {% else %}
              <div class="col-sm-12">
                <p class="font-weight-bold">No repositories found for this project</p>
                <p>The owner of this project has not added repositories yet. Check back later to see if they have been added.</p>
              </div>
              {% endif %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      </div>

    </div>

    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Share {{project.name}} project</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% with project_name=project.name project_id=project.id %}
              {% include "cauldronapp/project/share_buttons.html" %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logModalLabel">Repository logs</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="logger-body">
              <pre class="logger"><code class="log-content">Loading...</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Data source modals -->
    {% include "cauldronapp/project/datasource_modals/global.html" %}
    {% include "cauldronapp/project/datasource_modals/github.html" %}
    {% include "cauldronapp/project/datasource_modals/gitlab.html" %}
    {% include "cauldronapp/project/datasource_modals/git.html" %}
    {% include "cauldronapp/project/datasource_modals/meetup.html" %}

{% endblock %}


{% block javascript %}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.1.min.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js" integrity="sha256-C66CaAImteEKZPYvgng9j10J/45e9sAuZyfPYCwp4gE=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="{% static 'js/project.js' %}" charset="utf-8"></script>
{% endblock %}
